

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="希伯来民族是一个古老的民族，这个民族的始祖就是现代犹太人的祖先。旧约圣经中的历史书卷记录了这个民族的起源和简要的历史发展。根据《创世记》11：27～12：9的记载，希伯来人的祖先原住在两河流域“迦勒底的吾珥”，那就是今日伊拉克的南部境内，以亚伯兰(即亚伯拉罕)族长为首的部落以后逐步向西迁移，进入了迦南地(今巴勒斯坦西部)。后来又因饥荒迁入埃及。在漫长的岁月里，他们生养众多，在埃及形成了一个逐渐壮大的以色列民族。由于与埃及人的矛盾与斗争，终于在民族领袖摩西的率领下，离开了埃及又进入迦南。约在公元前一千年，这个民族在巴勒斯坦建立起统一的王国。在以后历史发展的程途中，这个王国经历了分裂和先后南北国的灭亡、众民被掳巴比伦至归回耶路撒冷重新建造被毁的圣殿。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/the-hebrew-nation-history.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="希伯来民族简史"/>
<meta property="og:description" content="希伯来民族是一个古老的民族，这个民族的始祖就是现代犹太人的祖先。旧约圣经中的历史书卷记录了这个民族的起源和简要的历史发展。根据《创世记》11：27～12：9的记载，希伯来人的祖先原住在两河流域“迦勒底的吾珥”，那就是今日伊拉克的南部境内，以亚伯兰(即亚伯拉罕)族长为首的部落以后逐步向西迁移，进入了迦南地(今巴勒斯坦西部)。后来又因饥荒迁入埃及。在漫长的岁月里，他们生养众多，在埃及形成了一个逐渐壮大的以色列民族。由于与埃及人的矛盾与斗争，终于在民族领袖摩西的率领下，离开了埃及又进入迦南。约在公元前一千年，这个民族在巴勒斯坦建立起统一的王国。在以后历史发展的程途中，这个王国经历了分裂和先后南北国的灭亡、众民被掳巴比伦至归回耶路撒冷重新建造被毁的圣殿。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/174/cover.jpg"/>
<meta property="og:novel:category" content="教会历史"/>
<meta property="og:novel:author" content="许鼎新"/>
<meta property="og:novel:book_name" content="希伯来民族简史"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/the-hebrew-nation-history.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/the-hebrew-nation-history.html"/>
<meta property="og:novel:status" content="已完结"/>
<meta property="og:novel:update_time" content="Thu Nov 07 13:21:58 CST 2013"/>
<meta property="og:novel:latest_chapter_name" content="希伯来民族史历史分期与大事年表"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/the-hebrew-nation-history/6275.html"/>
<title>希伯来民族简史_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/the-hebrew-nation-history.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">希伯来民族简史</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/174/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/the-hebrew-nation-history.html",
            title: "希伯来民族简史_许鼎新",
            description: "希伯来民族是一个古老的民族，这个民族的始祖就是现代犹太人的祖先。旧约圣经中的历史书卷记录了这个民族的起源和简要的历史发展。根据《创世记》11：27～12：9的记载，希伯来人的祖先原住在两河流域“迦勒底的吾珥”，那就是今日伊拉克的南部境内，以亚伯兰(即亚伯拉罕)族长为首的部落以后逐步向西迁移，进入了迦南地(今巴勒斯坦西部)。后来又因饥荒迁入埃及。在漫长的岁月里，他们生养众多，在埃及形成了一个逐渐壮大的以色列民族。由于与埃及人的矛盾与斗争，终于在民族领袖摩西的率领下，离开了埃及又进入迦南。约在公元前一千年，这个民族在巴勒斯坦建立起统一的王国。在以后历史发展的程途中，这个王国经历了分裂和先后南北国的灭亡、众民被掳巴比伦至归回耶路撒冷重新建造被毁的圣殿。",
            media: "http://www.aishen360.com/files/book/cover/174/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412125587" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396692347" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book174";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="174"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>