

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="这些年来，在教会中与弟兄姊妹一同读神的话，原则上每次都录了音，留下了不少录音带。去年下半年，教会里有弟兄提出他有负担要把录音记录作成文字，不少弟兄姊妹心里响应他的负担，事情就这样定规下来，把历年积留下来的讲经记录整理出来，把我没有写成书出版了的先作整理。整理好创世记以后，出埃及记也接续整理完成。在出埃及记中，神表明了祂为人预备救赎的心意，叫人领会祂是如何的「要领许多的儿子进荣耀里去」。
    　　本书的内容是在一九八九至九零年间与弟兄姊妹交通的。在整理的过程中，为要保留当时的语气，所以只是把一些重复的字句删除，也把过于口语化的字句稍作修改。因此，阅读的时候也会有在聆听交通的感觉。不过有一点要提醒的，因为是交通，所以若不是十分必要，就没有多读经文本身，因此，在阅读时，我建议读者要先阅读每次交通的整章经文，这样就能享用在主里的交通。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/chuaijijidaodu.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="这些年来，在教会中与弟兄姊妹一同读神的话，原则上每次都录了音，留下了不少录音带。去年下半年，教会里有弟兄提出他有负担要把录音记录作成文字，不少弟兄姊妹心里响应他的负担，事情就这样定规下来，把历年积留下来的讲经记录整理出来，把我没有写成书出版了的先作整理。整理好创世记以后，出埃及记也接续整理完成。在出埃及记中，神表明了祂为人预备救赎的心意，叫人领会祂是如何的「要领许多的儿子进荣耀里去」。
    　　本书的内容是在一九八九至九零年间与弟兄姊妹交通的。在整理的过程中，为要保留当时的语气，所以只是把一些重复的字句删除，也把过于口语化的字句稍作修改。因此，阅读的时候也会有在聆听交通的感觉。不过有一点要提醒的，因为是交通，所以若不是十分必要，就没有多读经文本身，因此，在阅读时，我建议读者要先阅读每次交通的整章经文，这样就能享用在主里的交通。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/640/cover.jpg"/>
<meta property="og:novel:category" content="研经注释"/>
<meta property="og:novel:author" content="王国显"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/chuaijijidaodu.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/chuaijijidaodu.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Wed Jul 30 12:59:57 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="充满神荣耀的会幕(卅六8至四十38)"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/chuaijijidaodu/27857.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/chuaijijidaodu.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">出埃及记导读</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/640/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/chuaijijidaodu.html",
            title: "_王国显",
            description: "这些年来，在教会中与弟兄姊妹一同读神的话，原则上每次都录了音，留下了不少录音带。去年下半年，教会里有弟兄提出他有负担要把录音记录作成文字，不少弟兄姊妹心里响应他的负担，事情就这样定规下来，把历年积留下来的讲经记录整理出来，把我没有写成书出版了的先作整理。整理好创世记以后，出埃及记也接续整理完成。在出埃及记中，神表明了祂为人预备救赎的心意，叫人领会祂是如何的「要领许多的儿子进荣耀里去」。
    　　本书的内容是在一九八九至九零年间与弟兄姊妹交通的。在整理的过程中，为要保留当时的语气，所以只是把一些重复的字句删除，也把过于口语化的字句稍作修改。因此，阅读的时候也会有在聆听交通的感觉。不过有一点要提醒的，因为是交通，所以若不是十分必要，就没有多读经文本身，因此，在阅读时，我建议读者要先阅读每次交通的整章经文，这样就能享用在主里的交通。",
            media: "http://www.aishen360.com/files/book/cover/640/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412140455" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396693814" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book640";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="640"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>