

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="钟马田一向以解经讲道闻名于英语世界，活泉已出版了他的《只夸基督十架》、《救恩的确据》，和八巨册的《以弗
所书》系列，使华人基督徒从他受益良多。现今这本《旧约福音讲章》，与另一本《新约福音讲章》，不但在他所有作品中独树一格，甚至
在一般解经书籍中也风格独具，因为他的对象是非基督徒。这是他对不信之人的苦口婆心，是对未得救灵魂的循循善诱。
    钟马田牧
师经常强调，传道人的首要职责就是将福音信息传递给尚未得救的人。虽然他一生中有四十多年在牧养教会，但他认为布道才是他的主要呼
召，他也始终以布道家自许。他每个主日早晚两堂的信息，一定有一篇是针对非信徒而讲的。他相信没有一个基督徒是自然而然就悔改相信
的，所以教会有责任将福音信息呈现在人面前。他坚持这种信念和作法，几十年如一日，也因此为我们留下了这么丰富的素材。
    这
些福音性质的讲章，将他一颗牧者心怀披露无遗。他对世局的忧心，对失丧灵魂的关切，对陈明救恩的迫切，一一跃然纸上。如果每一个传
道人和信徒都有这份传福音的热情，并像他一样充分使用圣经的话语和圣灵的大能，必然能使教会的光景变焕一新，但愿本书能成为我们今
日传福音的范本，不论站在讲台上的传道人，或作个人布道工作的平信徒，都能效法他成为福音精兵，在这末世为主打美好的胜仗。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/jiuyuefuyinjiangzhang.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="旧约福音讲章"/>
<meta property="og:description" content="钟马田一向以解经讲道闻名于英语世界，活泉已出版了他的《只夸基督十架》、《救恩的确据》，和八巨册的《以弗
所书》系列，使华人基督徒从他受益良多。现今这本《旧约福音讲章》，与另一本《新约福音讲章》，不但在他所有作品中独树一格，甚至
在一般解经书籍中也风格独具，因为他的对象是非基督徒。这是他对不信之人的苦口婆心，是对未得救灵魂的循循善诱。
    钟马田牧
师经常强调，传道人的首要职责就是将福音信息传递给尚未得救的人。虽然他一生中有四十多年在牧养教会，但他认为布道才是他的主要呼
召，他也始终以布道家自许。他每个主日早晚两堂的信息，一定有一篇是针对非信徒而讲的。他相信没有一个基督徒是自然而然就悔改相信
的，所以教会有责任将福音信息呈现在人面前。他坚持这种信念和作法，几十年如一日，也因此为我们留下了这么丰富的素材。
    这
些福音性质的讲章，将他一颗牧者心怀披露无遗。他对世局的忧心，对失丧灵魂的关切，对陈明救恩的迫切，一一跃然纸上。如果每一个传
道人和信徒都有这份传福音的热情，并像他一样充分使用圣经的话语和圣灵的大能，必然能使教会的光景变焕一新，但愿本书能成为我们今
日传福音的范本，不论站在讲台上的传道人，或作个人布道工作的平信徒，都能效法他成为福音精兵，在这末世为主打美好的胜仗。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/5/cover.jpg"/>
<meta property="og:novel:category" content="福音真理"/>
<meta property="og:novel:author" content="钟马田"/>
<meta property="og:novel:book_name" content="旧约福音讲章"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/jiuyuefuyinjiangzhang.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/jiuyuefuyinjiangzhang.html"/>
<meta property="og:novel:status" content="已完结"/>
<meta property="og:novel:update_time" content="Tue Jul 30 20:08:39 CST 2013"/>
<meta property="og:novel:latest_chapter_name" content="第二十一章 没有欢乐，就没有基督教"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/jiuyuefuyinjiangzhang/153.html"/>
<title>旧约福音讲章_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/jiuyuefuyinjiangzhang.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">旧约福音讲章</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/5/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/jiuyuefuyinjiangzhang.html",
            title: "旧约福音讲章_钟马田",
            description: "钟马田一向以解经讲道闻名于英语世界，活泉已出版了他的《只夸基督十架》、《救恩的确据》，和八巨册的《以弗
所书》系列，使华人基督徒从他受益良多。现今这本《旧约福音讲章》，与另一本《新约福音讲章》，不但在他所有作品中独树一格，甚至
在一般解经书籍中也风格独具，因为他的对象是非基督徒。这是他对不信之人的苦口婆心，是对未得救灵魂的循循善诱。
    钟马田牧
师经常强调，传道人的首要职责就是将福音信息传递给尚未得救的人。虽然他一生中有四十多年在牧养教会，但他认为布道才是他的主要呼
召，他也始终以布道家自许。他每个主日早晚两堂的信息，一定有一篇是针对非信徒而讲的。他相信没有一个基督徒是自然而然就悔改相信
的，所以教会有责任将福音信息呈现在人面前。他坚持这种信念和作法，几十年如一日，也因此为我们留下了这么丰富的素材。
    这
些福音性质的讲章，将他一颗牧者心怀披露无遗。他对世局的忧心，对失丧灵魂的关切，对陈明救恩的迫切，一一跃然纸上。如果每一个传
道人和信徒都有这份传福音的热情，并像他一样充分使用圣经的话语和圣灵的大能，必然能使教会的光景变焕一新，但愿本书能成为我们今
日传福音的范本，不论站在讲台上的传道人，或作个人布道工作的平信徒，都能效法他成为福音精兵，在这末世为主打美好的胜仗。",
            media: "http://www.aishen360.com/files/book/cover/5/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412119494" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-395883689" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book5";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="5"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>