

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="科学研究以宇宙中的秩序为前提。若这项前提不真，科学就毫无意义。从这项前提所获得的推论是，我们的经验，与宇宙秩序有着实在的关联－－经验的世界是有意义的。但是，这宇宙秩序的前提及其推论，则需要信心的跳越，而那是科学作不到的。但缺少了这信心的行动，科学的活动也就无法进行，科学的知识也无法成立。

    　　

    　　『但是，』有人或说：『我想科学既如此完全以经验的事实为根据，就永远不需要诉诸于信心。』若有任何人曾受教相信这种说法，那岂不是有趣？为何受过教育的人，至少从达文西的时代起，就曾受教说，科学的行为，完全与信心的行为不同？我们多数人曾受教说，信心关系到『盲目的跳越』，去相信无法证实的假设；但是，科学则是完全以实验的事实为基础。有人甚至像那人所钦慕的怀疑论者马克土温一样，说：『信心是去相信你知道不真实的事。』" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/kexueyushengjing.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="科学研究以宇宙中的秩序为前提。若这项前提不真，科学就毫无意义。从这项前提所获得的推论是，我们的经验，与宇宙秩序有着实在的关联－－经验的世界是有意义的。但是，这宇宙秩序的前提及其推论，则需要信心的跳越，而那是科学作不到的。但缺少了这信心的行动，科学的活动也就无法进行，科学的知识也无法成立。

    　　

    　　『但是，』有人或说：『我想科学既如此完全以经验的事实为根据，就永远不需要诉诸于信心。』若有任何人曾受教相信这种说法，那岂不是有趣？为何受过教育的人，至少从达文西的时代起，就曾受教说，科学的行为，完全与信心的行为不同？我们多数人曾受教说，信心关系到『盲目的跳越』，去相信无法证实的假设；但是，科学则是完全以实验的事实为基础。有人甚至像那人所钦慕的怀疑论者马克土温一样，说：『信心是去相信你知道不真实的事。』"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/493/cover.jpg"/>
<meta property="og:novel:category" content="初信栽培"/>
<meta property="og:novel:author" content="约翰奥勒"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/kexueyushengjing.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/kexueyushengjing.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Fri Apr 18 16:09:40 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="第十六章 上帝与万国——圣经人种学"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/kexueyushengjing/22659.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/kexueyushengjing.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">科学与圣经</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/493/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/kexueyushengjing.html",
            title: "_约翰奥勒",
            description: "科学研究以宇宙中的秩序为前提。若这项前提不真，科学就毫无意义。从这项前提所获得的推论是，我们的经验，与宇宙秩序有着实在的关联－－经验的世界是有意义的。但是，这宇宙秩序的前提及其推论，则需要信心的跳越，而那是科学作不到的。但缺少了这信心的行动，科学的活动也就无法进行，科学的知识也无法成立。

    　　

    　　『但是，』有人或说：『我想科学既如此完全以经验的事实为根据，就永远不需要诉诸于信心。』若有任何人曾受教相信这种说法，那岂不是有趣？为何受过教育的人，至少从达文西的时代起，就曾受教说，科学的行为，完全与信心的行为不同？我们多数人曾受教说，信心关系到『盲目的跳越』，去相信无法证实的假设；但是，科学则是完全以实验的事实为基础。有人甚至像那人所钦慕的怀疑论者马克土温一样，说：『信心是去相信你知道不真实的事。』",
            media: "http://www.aishen360.com/files/book/cover/493/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412136868" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396693360" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book493";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="493"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>