

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content=" 如果近代法制史像是一出舞台剧，威伯福斯与克拉朋联盟废除奴隶制度这一幕，无疑是剧中的高潮。这是一本报道战争的传记，这场战争虽然没有人流血牺牲，但同样激烈而残酷，这场战争是在议会里进行的。八个国会议员，八个基督徒，不同的专业、不同的政党、不同的个性、不同的背景，却为了打倒奴隶制度而结合在一起。他们以法律的专业、理性的思索、人道的精神、信仰的力量，在排山倒海的反对、咒骂、威胁、抵制、利诱和压力之中，经过50年漫长的日子，不改初衷，不采用暴民运动，而以忍耐、和平的立法程序，成功地断开层层绑捆黑奴的法律枷锁，帮助成千上万的黑奴获得了自由，终止了欧洲大陆几千年的奴隶制度。威伯福斯与克拉朋联盟终由被误解成为普世公认的19世纪会议政治里的良知楷模。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/xiongdixiangaihanshanhe.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="兄弟相爱撼山河——威伯福斯与克拉朋联盟"/>
<meta property="og:description" content=" 如果近代法制史像是一出舞台剧，威伯福斯与克拉朋联盟废除奴隶制度这一幕，无疑是剧中的高潮。这是一本报道战争的传记，这场战争虽然没有人流血牺牲，但同样激烈而残酷，这场战争是在议会里进行的。八个国会议员，八个基督徒，不同的专业、不同的政党、不同的个性、不同的背景，却为了打倒奴隶制度而结合在一起。他们以法律的专业、理性的思索、人道的精神、信仰的力量，在排山倒海的反对、咒骂、威胁、抵制、利诱和压力之中，经过50年漫长的日子，不改初衷，不采用暴民运动，而以忍耐、和平的立法程序，成功地断开层层绑捆黑奴的法律枷锁，帮助成千上万的黑奴获得了自由，终止了欧洲大陆几千年的奴隶制度。威伯福斯与克拉朋联盟终由被误解成为普世公认的19世纪会议政治里的良知楷模。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/358/cover.jpg"/>
<meta property="og:novel:category" content="见证文集"/>
<meta property="og:novel:author" content="张文亮"/>
<meta property="og:novel:book_name" content="兄弟相爱撼山河——威伯福斯与克拉朋联盟"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/xiongdixiangaihanshanhe.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/xiongdixiangaihanshanhe.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Sat Feb 01 18:43:42 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="结语(2)"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/xiongdixiangaihanshanhe/16013.html"/>
<title>兄弟相爱撼山河——威伯福斯与克拉朋联盟_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/xiongdixiangaihanshanhe.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">兄弟相爱撼山河</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/358/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/xiongdixiangaihanshanhe.html",
            title: "兄弟相爱撼山河——威伯福斯与克拉朋联盟_张文亮",
            description: " 如果近代法制史像是一出舞台剧，威伯福斯与克拉朋联盟废除奴隶制度这一幕，无疑是剧中的高潮。这是一本报道战争的传记，这场战争虽然没有人流血牺牲，但同样激烈而残酷，这场战争是在议会里进行的。八个国会议员，八个基督徒，不同的专业、不同的政党、不同的个性、不同的背景，却为了打倒奴隶制度而结合在一起。他们以法律的专业、理性的思索、人道的精神、信仰的力量，在排山倒海的反对、咒骂、威胁、抵制、利诱和压力之中，经过50年漫长的日子，不改初衷，不采用暴民运动，而以忍耐、和平的立法程序，成功地断开层层绑捆黑奴的法律枷锁，帮助成千上万的黑奴获得了自由，终止了欧洲大陆几千年的奴隶制度。威伯福斯与克拉朋联盟终由被误解成为普世公认的19世纪会议政治里的良知楷模。",
            media: "http://www.aishen360.com/files/book/cover/358/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412130958" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396693011" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book358";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="358"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>