

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="你有没有跟上帝讲过话，或是向他祷告？是为些什么事情祷告呢？会不会只在礼拜天或是睡觉之前才祷告呢？有些人在遇上困难或是危险的时候才祷告，其实我们是可以随时随地都向上帝祷告的。上帝喜欢我们把一切的事情都说给他听。
　祷告有很多种。有时侯我们想为世上一些美好奇妙的事情赞美上帝，或是为了他为我们所做的事情，感谢他。有时侯，我们可能会想为别人代求，愿上帝帮助或者照顾他们。我们常常必须求上帝宽恕赦免我们，或是跟他谈谈我们的忧虑和恐惧。还有些时候，我们只是单单为了上帝一切的美善而敬拜他。 " />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/my-first-book-of-prayers.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="你有没有跟上帝讲过话，或是向他祷告？是为些什么事情祷告呢？会不会只在礼拜天或是睡觉之前才祷告呢？有些人在遇上困难或是危险的时候才祷告，其实我们是可以随时随地都向上帝祷告的。上帝喜欢我们把一切的事情都说给他听。
　祷告有很多种。有时侯我们想为世上一些美好奇妙的事情赞美上帝，或是为了他为我们所做的事情，感谢他。有时侯，我们可能会想为别人代求，愿上帝帮助或者照顾他们。我们常常必须求上帝宽恕赦免我们，或是跟他谈谈我们的忧虑和恐惧。还有些时候，我们只是单单为了上帝一切的美善而敬拜他。 "/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/346/cover.jpg"/>
<meta property="og:novel:category" content="灵修书籍"/>
<meta property="og:novel:author" content="卡罗·华特森"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/my-first-book-of-prayers.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/my-first-book-of-prayers.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Thu Jan 23 13:15:30 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="特别的日子"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/my-first-book-of-prayers/15149.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/my-first-book-of-prayers.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">我的第一本祷告</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/346/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/my-first-book-of-prayers.html",
            title: "_卡罗·华特森",
            description: "你有没有跟上帝讲过话，或是向他祷告？是为些什么事情祷告呢？会不会只在礼拜天或是睡觉之前才祷告呢？有些人在遇上困难或是危险的时候才祷告，其实我们是可以随时随地都向上帝祷告的。上帝喜欢我们把一切的事情都说给他听。
　祷告有很多种。有时侯我们想为世上一些美好奇妙的事情赞美上帝，或是为了他为我们所做的事情，感谢他。有时侯，我们可能会想为别人代求，愿上帝帮助或者照顾他们。我们常常必须求上帝宽恕赦免我们，或是跟他谈谈我们的忧虑和恐惧。还有些时候，我们只是单单为了上帝一切的美善而敬拜他。 ",
            media: "http://www.aishen360.com/files/book/cover/346/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412130584" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396692967" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book346";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="346"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>