

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="每当一些超乎寻常的事情发生，必定会使人想起鬼神的事。我国近年来有许多神迹、赶鬼、说预言、祈祷医病的事，很多人亦因此信了耶稣。然而，仍有许多人问：「神迹可能发生吗？」「凡是无法解释的事，就是神迹吗？」「真有鬼吗？」「病了看医生抑或祈祷呢？」一连串的问题，促使我们更深入去探讨「神迹奇事」背后的含义，究竟基督徒应持何种态度面对这些事呢？

    一、探讨神迹奇事的目的" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/shenjiqishi.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="神迹奇事"/>
<meta property="og:description" content="每当一些超乎寻常的事情发生，必定会使人想起鬼神的事。我国近年来有许多神迹、赶鬼、说预言、祈祷医病的事，很多人亦因此信了耶稣。然而，仍有许多人问：「神迹可能发生吗？」「凡是无法解释的事，就是神迹吗？」「真有鬼吗？」「病了看医生抑或祈祷呢？」一连串的问题，促使我们更深入去探讨「神迹奇事」背后的含义，究竟基督徒应持何种态度面对这些事呢？

    一、探讨神迹奇事的目的"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/257/cover.jpg"/>
<meta property="og:novel:category" content="福音真理"/>
<meta property="og:novel:author" content="良友圣经学院"/>
<meta property="og:novel:book_name" content="神迹奇事"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/shenjiqishi.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/shenjiqishi.html"/>
<meta property="og:novel:status" content="已完结"/>
<meta property="og:novel:update_time" content="Wed Jan 08 13:14:51 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="第二十三课 神迹奇事总结"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/shenjiqishi/7759.html"/>
<title>神迹奇事_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/shenjiqishi.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">神迹奇事</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/257/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/shenjiqishi.html",
            title: "神迹奇事_良友圣经学院",
            description: "每当一些超乎寻常的事情发生，必定会使人想起鬼神的事。我国近年来有许多神迹、赶鬼、说预言、祈祷医病的事，很多人亦因此信了耶稣。然而，仍有许多人问：「神迹可能发生吗？」「凡是无法解释的事，就是神迹吗？」「真有鬼吗？」「病了看医生抑或祈祷呢？」一连串的问题，促使我们更深入去探讨「神迹奇事」背后的含义，究竟基督徒应持何种态度面对这些事呢？

    一、探讨神迹奇事的目的",
            media: "http://www.aishen360.com/files/book/cover/257/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412128655" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396692677" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book257";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="257"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>