

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="回首我的孩提时代和早年生命，我很惊讶自己会提笔写这本书。那阶段的经历几乎不能使我有资格成就这项任务！

    我出生于一个英国军人家庭，没有弟兄姐妹。我所认识的每一个男性亲属都是英军中的官员。在我九岁的时候，我被送到一个特别预备学校，从那里我踏进了伊登学院（Eton），进而步入英国剑桥大学的国王学院（King-sCollege，Cambridge）。十五年期间我在不同的寄宿学校就学，每年在家里度过的时间加起来不超过三个月。在剑桥大学攻读五年之后，我著下了一篇论文，题为：“柏拉图定义法之进化”，因此被择选为国王学院的研究员。

    在这么多年的受教中，我从来没有一个女性教师。在剑桥大学期间，我交过几个女朋友，但女子个性的内在作为对我一直是一个迷―对这个迷我也没有多少兴趣去尝试解开！" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/weirenfuweizhifu.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="回首我的孩提时代和早年生命，我很惊讶自己会提笔写这本书。那阶段的经历几乎不能使我有资格成就这项任务！

    我出生于一个英国军人家庭，没有弟兄姐妹。我所认识的每一个男性亲属都是英军中的官员。在我九岁的时候，我被送到一个特别预备学校，从那里我踏进了伊登学院（Eton），进而步入英国剑桥大学的国王学院（King-sCollege，Cambridge）。十五年期间我在不同的寄宿学校就学，每年在家里度过的时间加起来不超过三个月。在剑桥大学攻读五年之后，我著下了一篇论文，题为：“柏拉图定义法之进化”，因此被择选为国王学院的研究员。

    在这么多年的受教中，我从来没有一个女性教师。在剑桥大学期间，我交过几个女朋友，但女子个性的内在作为对我一直是一个迷―对这个迷我也没有多少兴趣去尝试解开！"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/578/cover.jpg"/>
<meta property="og:novel:category" content="婚姻家庭"/>
<meta property="og:novel:author" content="叶光明"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/weirenfuweizhifu.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/weirenfuweizhifu.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Thu May 29 19:58:42 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="十七、献给没有父亲之人的话"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/weirenfuweizhifu/25857.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/weirenfuweizhifu.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">为人之夫、为人之父</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/578/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/weirenfuweizhifu.html",
            title: "_叶光明",
            description: "回首我的孩提时代和早年生命，我很惊讶自己会提笔写这本书。那阶段的经历几乎不能使我有资格成就这项任务！

    我出生于一个英国军人家庭，没有弟兄姐妹。我所认识的每一个男性亲属都是英军中的官员。在我九岁的时候，我被送到一个特别预备学校，从那里我踏进了伊登学院（Eton），进而步入英国剑桥大学的国王学院（King-sCollege，Cambridge）。十五年期间我在不同的寄宿学校就学，每年在家里度过的时间加起来不超过三个月。在剑桥大学攻读五年之后，我著下了一篇论文，题为：“柏拉图定义法之进化”，因此被择选为国王学院的研究员。

    在这么多年的受教中，我从来没有一个女性教师。在剑桥大学期间，我交过几个女朋友，但女子个性的内在作为对我一直是一个迷―对这个迷我也没有多少兴趣去尝试解开！",
            media: "http://www.aishen360.com/files/book/cover/578/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412138814" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396693592" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book578";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="578"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>