

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content=" 毫无疑问，我们的始祖一定有祷告，特别是在堕落前。创世记四章26节说，在以诺出生那年，「人才求告耶和华的名」。这很可能指某种形式的联合祷告。在这第一课，我们会研究亚伯拉罕为居住在所多玛城的人作出的伟大祷告。我们的研究以三个事实为基础：（1）所多玛是一个非常邪恶的城市（创十三13，十八20；赛一9，三9；哀四6）。（2）神说他的审判必定临到所多玛（创十八20–21）。（3）亚伯拉罕出于渴望神得荣耀和爱所多玛的人，向神祷告，求他放过那个城市的人。我们活在好像所多玛一样的城市，活在充满罪人的世界。正如亚伯拉罕为所多玛人祈求一样，我们也要为我们的城市或世上众多失丧的灵魂代求。因此，要视亚伯拉罕的代祷为为灵魂得救祷告。这样的祷告有什么特点？" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/jiuyuedeweidadaogao.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content=" 毫无疑问，我们的始祖一定有祷告，特别是在堕落前。创世记四章26节说，在以诺出生那年，「人才求告耶和华的名」。这很可能指某种形式的联合祷告。在这第一课，我们会研究亚伯拉罕为居住在所多玛城的人作出的伟大祷告。我们的研究以三个事实为基础：（1）所多玛是一个非常邪恶的城市（创十三13，十八20；赛一9，三9；哀四6）。（2）神说他的审判必定临到所多玛（创十八20–21）。（3）亚伯拉罕出于渴望神得荣耀和爱所多玛的人，向神祷告，求他放过那个城市的人。我们活在好像所多玛一样的城市，活在充满罪人的世界。正如亚伯拉罕为所多玛人祈求一样，我们也要为我们的城市或世上众多失丧的灵魂代求。因此，要视亚伯拉罕的代祷为为灵魂得救祷告。这样的祷告有什么特点？"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/313/cover.jpg"/>
<meta property="og:novel:category" content="灵修书籍"/>
<meta property="og:novel:author" content="法兰斯·迪信"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/jiuyuedeweidadaogao.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/jiuyuedeweidadaogao.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Thu Jan 16 12:51:34 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="第十课 祈求脱离困境的祷告"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/jiuyuedeweidadaogao/13788.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/jiuyuedeweidadaogao.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">旧约的伟大祷告</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/313/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/jiuyuedeweidadaogao.html",
            title: "_法兰斯·迪信",
            description: " 毫无疑问，我们的始祖一定有祷告，特别是在堕落前。创世记四章26节说，在以诺出生那年，「人才求告耶和华的名」。这很可能指某种形式的联合祷告。在这第一课，我们会研究亚伯拉罕为居住在所多玛城的人作出的伟大祷告。我们的研究以三个事实为基础：（1）所多玛是一个非常邪恶的城市（创十三13，十八20；赛一9，三9；哀四6）。（2）神说他的审判必定临到所多玛（创十八20–21）。（3）亚伯拉罕出于渴望神得荣耀和爱所多玛的人，向神祷告，求他放过那个城市的人。我们活在好像所多玛一样的城市，活在充满罪人的世界。正如亚伯拉罕为所多玛人祈求一样，我们也要为我们的城市或世上众多失丧的灵魂代求。因此，要视亚伯拉罕的代祷为为灵魂得救祷告。这样的祷告有什么特点？",
            media: "http://www.aishen360.com/files/book/cover/313/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412130026" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396692874" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book313";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="313"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>