

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="《见证的火炬》——两千年教会的属灵历史

约翰.甘乃迪 著 刘志雄 博士编译

这是一本关于在传统之外的基督徒及教会两千年来的历史著作。原著曾于主后1964年在印度出版，在西方的世界鲜为人知。在本书中，作者约翰·甘乃迪追溯从第一世纪开始以来，那些一直在正式宗教界以外的基督徒团体，描写了许多发生在基督身体中真实受苦的故事，有时活泼热情，慷慨激昂；有时令人心碎，黯然神伤。有些福音派基督徒的故事已经不为人知，或是早被遗忘。

　　这书最着重的，并非所发生的人或事，乃是尝试从历史中寻找属灵的原则与见证的路。

　　约翰·甘乃迪来自英国。从1952年起，他一直居住在印度，并在许多单纯效法使徒时代的基督徒团体中进行服事。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/jianzhengdehuoju.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="《见证的火炬》——两千年教会的属灵历史

约翰.甘乃迪 著 刘志雄 博士编译

这是一本关于在传统之外的基督徒及教会两千年来的历史著作。原著曾于主后1964年在印度出版，在西方的世界鲜为人知。在本书中，作者约翰·甘乃迪追溯从第一世纪开始以来，那些一直在正式宗教界以外的基督徒团体，描写了许多发生在基督身体中真实受苦的故事，有时活泼热情，慷慨激昂；有时令人心碎，黯然神伤。有些福音派基督徒的故事已经不为人知，或是早被遗忘。

　　这书最着重的，并非所发生的人或事，乃是尝试从历史中寻找属灵的原则与见证的路。

　　约翰·甘乃迪来自英国。从1952年起，他一直居住在印度，并在许多单纯效法使徒时代的基督徒团体中进行服事。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/351/cover.jpg"/>
<meta property="og:novel:category" content="灵修书籍"/>
<meta property="og:novel:author" content="约翰.甘乃迪"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/jianzhengdehuoju.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/jianzhengdehuoju.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Fri Jan 24 13:43:48 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="参考书目BIBLIOGRAPHY"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/jianzhengdehuoju/15672.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/jianzhengdehuoju.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">见证的火炬</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/351/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/jianzhengdehuoju.html",
            title: "_约翰.甘乃迪",
            description: "《见证的火炬》——两千年教会的属灵历史

约翰.甘乃迪 著 刘志雄 博士编译

这是一本关于在传统之外的基督徒及教会两千年来的历史著作。原著曾于主后1964年在印度出版，在西方的世界鲜为人知。在本书中，作者约翰·甘乃迪追溯从第一世纪开始以来，那些一直在正式宗教界以外的基督徒团体，描写了许多发生在基督身体中真实受苦的故事，有时活泼热情，慷慨激昂；有时令人心碎，黯然神伤。有些福音派基督徒的故事已经不为人知，或是早被遗忘。

　　这书最着重的，并非所发生的人或事，乃是尝试从历史中寻找属灵的原则与见证的路。

　　约翰·甘乃迪来自英国。从1952年起，他一直居住在印度，并在许多单纯效法使徒时代的基督徒团体中进行服事。",
            media: "http://www.aishen360.com/files/book/cover/351/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412130773" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396692989" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book351";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="351"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>