

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="“你相信上帝吗？嗯？”提著枪的人带著扭曲的笑容问道。几秒钟的沉默。“ 是的，我相信上帝。”少女平静地回答。“砰！”……枪声。少女为自己的基督信仰付出了生命的代价。 
一个现代的殉道事件。 
这一幕不是发生在穆斯林极端或者专制极权的国家，而是真真实实地发生在美国科罗拉多州的小顿城（Littleton ）的一间中学里。时间是1999 年4 月20 日。两个中学生枪杀了十三名同学、老师後，举枪自杀。
小城学校里的滥杀事件给人们带来很大的震惊。一边杀人一边狂笑的两个中学生的“动机”，是扭曲变态无端的仇恨。这里的新闻媒介多半都报导了他们仇恨的对象主要是少数族裔和运动员，但是比较少有提到他们仇恨的另一个群体，就是基督徒。在被害的十三个人当中，有八个是基督徒——四个新教徒，四个天主教徒。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/she-said-yes.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="“你相信上帝吗？嗯？”提著枪的人带著扭曲的笑容问道。几秒钟的沉默。“ 是的，我相信上帝。”少女平静地回答。“砰！”……枪声。少女为自己的基督信仰付出了生命的代价。 
一个现代的殉道事件。 
这一幕不是发生在穆斯林极端或者专制极权的国家，而是真真实实地发生在美国科罗拉多州的小顿城（Littleton ）的一间中学里。时间是1999 年4 月20 日。两个中学生枪杀了十三名同学、老师後，举枪自杀。
小城学校里的滥杀事件给人们带来很大的震惊。一边杀人一边狂笑的两个中学生的“动机”，是扭曲变态无端的仇恨。这里的新闻媒介多半都报导了他们仇恨的对象主要是少数族裔和运动员，但是比较少有提到他们仇恨的另一个群体，就是基督徒。在被害的十三个人当中，有八个是基督徒——四个新教徒，四个天主教徒。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/154/cover.jpg"/>
<meta property="og:novel:category" content="个人传记"/>
<meta property="og:novel:author" content="米斯蒂·伯诺"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/she-said-yes.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/she-said-yes.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Fri Oct 18 13:14:03 CST 2013"/>
<meta property="og:novel:latest_chapter_name" content="第八章 反省"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/she-said-yes/5564.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/she-said-yes.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">她说是的</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/154/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/she-said-yes.html",
            title: "_米斯蒂·伯诺",
            description: "“你相信上帝吗？嗯？”提著枪的人带著扭曲的笑容问道。几秒钟的沉默。“ 是的，我相信上帝。”少女平静地回答。“砰！”……枪声。少女为自己的基督信仰付出了生命的代价。 
一个现代的殉道事件。 
这一幕不是发生在穆斯林极端或者专制极权的国家，而是真真实实地发生在美国科罗拉多州的小顿城（Littleton ）的一间中学里。时间是1999 年4 月20 日。两个中学生枪杀了十三名同学、老师後，举枪自杀。
小城学校里的滥杀事件给人们带来很大的震惊。一边杀人一边狂笑的两个中学生的“动机”，是扭曲变态无端的仇恨。这里的新闻媒介多半都报导了他们仇恨的对象主要是少数族裔和运动员，但是比较少有提到他们仇恨的另一个群体，就是基督徒。在被害的十三个人当中，有八个是基督徒——四个新教徒，四个天主教徒。",
            media: "http://www.aishen360.com/files/book/cover/154/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412124382" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396692278" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book154";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="154"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>