

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="「神就是光，在他毫无黑暗；这是我们从主所听见，人报给你们的信息。我们若说是与神相交，却仍在黑暗里行，就是说谎话，不行真理了；我们若在光明中行，如同神在光明中，就彼此相交，他儿子耶稣的血也洗净我们一切的罪。」

    　　这几节圣经给我们看见两件事：第一，神就是光；第二，神住在光中。神如果不是光，人就不知罪。同时，因为神在光中，人才能看到神。

    　　在创世记里神造天地(说得准确一点，神修造天地)，第五天我们看见生命，但在头一天就看见亮光。我们展开创世记，先是看到亮光，再看到生命，可见亮光比生命更要紧。在神的工作中，首先是吩咐有光，其余的事都是随后发生的。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/light-and-self-knowledge.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="「神就是光，在他毫无黑暗；这是我们从主所听见，人报给你们的信息。我们若说是与神相交，却仍在黑暗里行，就是说谎话，不行真理了；我们若在光明中行，如同神在光明中，就彼此相交，他儿子耶稣的血也洗净我们一切的罪。」

    　　这几节圣经给我们看见两件事：第一，神就是光；第二，神住在光中。神如果不是光，人就不知罪。同时，因为神在光中，人才能看到神。

    　　在创世记里神造天地(说得准确一点，神修造天地)，第五天我们看见生命，但在头一天就看见亮光。我们展开创世记，先是看到亮光，再看到生命，可见亮光比生命更要紧。在神的工作中，首先是吩咐有光，其余的事都是随后发生的。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/162/cover.jpg"/>
<meta property="og:novel:category" content="见证文集"/>
<meta property="og:novel:author" content="倪柝声"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/light-and-self-knowledge.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/light-and-self-knowledge.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Fri Oct 25 12:37:55 CST 2013"/>
<meta property="og:novel:latest_chapter_name" content="十二　着迷与神的光"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/light-and-self-knowledge/6121.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/light-and-self-knowledge.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">光与自知</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/162/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/light-and-self-knowledge.html",
            title: "_倪柝声",
            description: "「神就是光，在他毫无黑暗；这是我们从主所听见，人报给你们的信息。我们若说是与神相交，却仍在黑暗里行，就是说谎话，不行真理了；我们若在光明中行，如同神在光明中，就彼此相交，他儿子耶稣的血也洗净我们一切的罪。」

    　　这几节圣经给我们看见两件事：第一，神就是光；第二，神住在光中。神如果不是光，人就不知罪。同时，因为神在光中，人才能看到神。

    　　在创世记里神造天地(说得准确一点，神修造天地)，第五天我们看见生命，但在头一天就看见亮光。我们展开创世记，先是看到亮光，再看到生命，可见亮光比生命更要紧。在神的工作中，首先是吩咐有光，其余的事都是随后发生的。",
            media: "http://www.aishen360.com/files/book/cover/162/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412125178" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396692301" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book162";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="162"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>