

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="你们手上所拿着我是我迄今为止所撰的最重要的一本书。此书的写作目的与我以往所著的书籍迥然不同，因为它并非是针对国民通常所津津乐道和感兴趣的论点而言的。

    然而，此书正是为了写给你们这样的千百万读者，为能解答郁积在你们心中最令人挠头和困惑的诸般问题。

    永不变易的上帝的话为你们所面临的每一个道德问题或人生挑战，提供了解答。你们借助虔心的祷告和对圣经深刻细致地研读与剖析，就能找到这些问题的答案。

    自从该书首次出版以来，包括美国、前苏联、台湾和讲西班牙语的各个国家在内的上千万读者收到了这本书。他们将此书里所详细罗列的圣经真理诉诸于实践，心中充盈着盼望，对真理的体认和平安。

    我热切地祈愿，你们在寻觅到问题答案的同时，也将迎来与主耶稣基督同行的更亲密且更深刻的经历，惟独他是人类一切问题的终极解答。

    帕特·罗伯逊" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/200-the-most-thought-provoking-questions-and-answers.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="你们手上所拿着我是我迄今为止所撰的最重要的一本书。此书的写作目的与我以往所著的书籍迥然不同，因为它并非是针对国民通常所津津乐道和感兴趣的论点而言的。

    然而，此书正是为了写给你们这样的千百万读者，为能解答郁积在你们心中最令人挠头和困惑的诸般问题。

    永不变易的上帝的话为你们所面临的每一个道德问题或人生挑战，提供了解答。你们借助虔心的祷告和对圣经深刻细致地研读与剖析，就能找到这些问题的答案。

    自从该书首次出版以来，包括美国、前苏联、台湾和讲西班牙语的各个国家在内的上千万读者收到了这本书。他们将此书里所详细罗列的圣经真理诉诸于实践，心中充盈着盼望，对真理的体认和平安。

    我热切地祈愿，你们在寻觅到问题答案的同时，也将迎来与主耶稣基督同行的更亲密且更深刻的经历，惟独他是人类一切问题的终极解答。

    帕特·罗伯逊"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/505/cover.jpg"/>
<meta property="og:novel:category" content="初信栽培"/>
<meta property="og:novel:author" content="帕特·罗伯逊"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/200-the-most-thought-provoking-questions-and-answers.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/200-the-most-thought-provoking-questions-and-answers.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Mon Apr 21 13:17:43 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="第12章　关于天国的二十个问题"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/200-the-most-thought-provoking-questions-and-answers/22953.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/200-the-most-thought-provoking-questions-and-answers.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">200个最发人深省的问题与答案</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/505/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/200-the-most-thought-provoking-questions-and-answers.html",
            title: "_帕特·罗伯逊",
            description: "你们手上所拿着我是我迄今为止所撰的最重要的一本书。此书的写作目的与我以往所著的书籍迥然不同，因为它并非是针对国民通常所津津乐道和感兴趣的论点而言的。

    然而，此书正是为了写给你们这样的千百万读者，为能解答郁积在你们心中最令人挠头和困惑的诸般问题。

    永不变易的上帝的话为你们所面临的每一个道德问题或人生挑战，提供了解答。你们借助虔心的祷告和对圣经深刻细致地研读与剖析，就能找到这些问题的答案。

    自从该书首次出版以来，包括美国、前苏联、台湾和讲西班牙语的各个国家在内的上千万读者收到了这本书。他们将此书里所详细罗列的圣经真理诉诸于实践，心中充盈着盼望，对真理的体认和平安。

    我热切地祈愿，你们在寻觅到问题答案的同时，也将迎来与主耶稣基督同行的更亲密且更深刻的经历，惟独他是人类一切问题的终极解答。

    帕特·罗伯逊",
            media: "http://www.aishen360.com/files/book/cover/505/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412137408" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396693409" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book505";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="505"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>