

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="从使徒时代至近代教会史中，涌现出无数可歌可泣的人物，基督教的历史其实就是由这些见证人所构成的，反映了他们真正信仰的写照。有时一篇简短的见证胜过一篇冗长的讲章，尤其许多国内的信徒屡屡要求阅读此类书籍，鉴此，我们从古今中外教会历史中，根据不同的特点，选编四十五位历史人物的事迹与大家分享。然而这是微不足道的，因为尚有无数名人和默默无闻的伟人，他们的名字现在已记于天上，即使在人间没有人知道他们的芳名，然而他们正是延续和促进教会生命的活水管子。故此，教会历史的发展，并非单单倚靠这些教会的名人，只是借着他们留给后代的资料，促使我们去学习他们单纯爱主的赤胆忠心，步其后尘来荣神益人。同时抛砖引玉，吸引更多人来研究教会历史的兴趣。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/christian-history-character-biographies.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="基督教历史人物小传"/>
<meta property="og:description" content="从使徒时代至近代教会史中，涌现出无数可歌可泣的人物，基督教的历史其实就是由这些见证人所构成的，反映了他们真正信仰的写照。有时一篇简短的见证胜过一篇冗长的讲章，尤其许多国内的信徒屡屡要求阅读此类书籍，鉴此，我们从古今中外教会历史中，根据不同的特点，选编四十五位历史人物的事迹与大家分享。然而这是微不足道的，因为尚有无数名人和默默无闻的伟人，他们的名字现在已记于天上，即使在人间没有人知道他们的芳名，然而他们正是延续和促进教会生命的活水管子。故此，教会历史的发展，并非单单倚靠这些教会的名人，只是借着他们留给后代的资料，促使我们去学习他们单纯爱主的赤胆忠心，步其后尘来荣神益人。同时抛砖引玉，吸引更多人来研究教会历史的兴趣。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/151/cover.jpg"/>
<meta property="og:novel:category" content="见证文集"/>
<meta property="og:novel:author" content="爱森阅读"/>
<meta property="og:novel:book_name" content="基督教历史人物小传"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/christian-history-character-biographies.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/christian-history-character-biographies.html"/>
<meta property="og:novel:status" content="已完结"/>
<meta property="og:novel:update_time" content="Thu Oct 17 12:55:57 CST 2013"/>
<meta property="og:novel:latest_chapter_name" content="十七 游斯丁 (Justin Martyr 公元100-165年)(东方的护教巨臂)"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/christian-history-character-biographies/5397.html"/>
<title>基督教历史人物小传_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/christian-history-character-biographies.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">基督教历史人物小传</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/151/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/christian-history-character-biographies.html",
            title: "基督教历史人物小传_爱森阅读",
            description: "从使徒时代至近代教会史中，涌现出无数可歌可泣的人物，基督教的历史其实就是由这些见证人所构成的，反映了他们真正信仰的写照。有时一篇简短的见证胜过一篇冗长的讲章，尤其许多国内的信徒屡屡要求阅读此类书籍，鉴此，我们从古今中外教会历史中，根据不同的特点，选编四十五位历史人物的事迹与大家分享。然而这是微不足道的，因为尚有无数名人和默默无闻的伟人，他们的名字现在已记于天上，即使在人间没有人知道他们的芳名，然而他们正是延续和促进教会生命的活水管子。故此，教会历史的发展，并非单单倚靠这些教会的名人，只是借着他们留给后代的资料，促使我们去学习他们单纯爱主的赤胆忠心，步其后尘来荣神益人。同时抛砖引玉，吸引更多人来研究教会历史的兴趣。",
            media: "http://www.aishen360.com/files/book/cover/151/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412124109" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396692243" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book151";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="151"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>