

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="“由两种爱造成了两种城市：一座是世上之城，是由只爱自己、甚至连上帝都遭轻视的爱造成的；另一座是天上之城，是由爱上帝、甚至连自己都看轻的爱造成的。”–奥古斯丁《上帝之城》

    忘记历史，就是背叛。基督教是历史性的宗教，“从前所写的圣经都是为教训我们写的，叫我们因圣经所生的忍耐和安慰，可以得着盼望。”（罗15:4）由于现代教会中反知识反律法的倾向，教会历史上已经战胜的许多异端思想又卷土重来，甚至充斥许多教会和神学院校。阿米念派异端思想对当今教会的侵蚀就是典型的案例。

    阿米念派的创立者阿米念(JamesArminius,1560-1609)在日内瓦受教于加尔文继承者伯撒(Beza,1519-1605)。他回到荷兰后在阿姆斯特丹作牧师，后来又在来丁(Leyden)作来丁大学的神学教授。他曾经是严格的加尔文派信徒，后来主张神恩普及和意志自由的教义。在论人和拯救的教义上，他与信义宗里面的黑兰顿派相似，但他的神学倾向于自由主义。他认为加尔文派的预定论势必将上帝作为罪恶的创始者。他在这一点上的意见与罗马天主教天特会议所持的甚为相似。他对拣选虽不否认，但不以之是由于上帝的预定，而以之是由于上帝的预知。他主张重新订正《比利时信条》和《海德堡教理问答》。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/calvin-theological-salvation-five-point.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="“由两种爱造成了两种城市：一座是世上之城，是由只爱自己、甚至连上帝都遭轻视的爱造成的；另一座是天上之城，是由爱上帝、甚至连自己都看轻的爱造成的。”–奥古斯丁《上帝之城》

    忘记历史，就是背叛。基督教是历史性的宗教，“从前所写的圣经都是为教训我们写的，叫我们因圣经所生的忍耐和安慰，可以得着盼望。”（罗15:4）由于现代教会中反知识反律法的倾向，教会历史上已经战胜的许多异端思想又卷土重来，甚至充斥许多教会和神学院校。阿米念派异端思想对当今教会的侵蚀就是典型的案例。

    阿米念派的创立者阿米念(JamesArminius,1560-1609)在日内瓦受教于加尔文继承者伯撒(Beza,1519-1605)。他回到荷兰后在阿姆斯特丹作牧师，后来又在来丁(Leyden)作来丁大学的神学教授。他曾经是严格的加尔文派信徒，后来主张神恩普及和意志自由的教义。在论人和拯救的教义上，他与信义宗里面的黑兰顿派相似，但他的神学倾向于自由主义。他认为加尔文派的预定论势必将上帝作为罪恶的创始者。他在这一点上的意见与罗马天主教天特会议所持的甚为相似。他对拣选虽不否认，但不以之是由于上帝的预定，而以之是由于上帝的预知。他主张重新订正《比利时信条》和《海德堡教理问答》。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/328/cover.jpg"/>
<meta property="og:novel:category" content="灵修书籍"/>
<meta property="og:novel:author" content="加尔文"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/calvin-theological-salvation-five-point.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/calvin-theological-salvation-five-point.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Tue Jan 21 13:40:39 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="十一．讲道的风格：活泼热情"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/calvin-theological-salvation-five-point/14363.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/calvin-theological-salvation-five-point.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">加尔文救恩神学五大要义</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/328/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/calvin-theological-salvation-five-point.html",
            title: "_加尔文",
            description: "“由两种爱造成了两种城市：一座是世上之城，是由只爱自己、甚至连上帝都遭轻视的爱造成的；另一座是天上之城，是由爱上帝、甚至连自己都看轻的爱造成的。”–奥古斯丁《上帝之城》

    忘记历史，就是背叛。基督教是历史性的宗教，“从前所写的圣经都是为教训我们写的，叫我们因圣经所生的忍耐和安慰，可以得着盼望。”（罗15:4）由于现代教会中反知识反律法的倾向，教会历史上已经战胜的许多异端思想又卷土重来，甚至充斥许多教会和神学院校。阿米念派异端思想对当今教会的侵蚀就是典型的案例。

    阿米念派的创立者阿米念(JamesArminius,1560-1609)在日内瓦受教于加尔文继承者伯撒(Beza,1519-1605)。他回到荷兰后在阿姆斯特丹作牧师，后来又在来丁(Leyden)作来丁大学的神学教授。他曾经是严格的加尔文派信徒，后来主张神恩普及和意志自由的教义。在论人和拯救的教义上，他与信义宗里面的黑兰顿派相似，但他的神学倾向于自由主义。他认为加尔文派的预定论势必将上帝作为罪恶的创始者。他在这一点上的意见与罗马天主教天特会议所持的甚为相似。他对拣选虽不否认，但不以之是由于上帝的预定，而以之是由于上帝的预知。他主张重新订正《比利时信条》和《海德堡教理问答》。",
            media: "http://www.aishen360.com/files/book/cover/328/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412130202" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396692913" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book328";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="328"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>