

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="圣经有关犹太人的预言和应许，从旧约到新约，真可以说是俯拾皆是。惟其中最奇妙最独特的有两项：第一，神藉着摩西的口，预警犹太人倘若不听从神的话语，不谨守他的一切诫命律例，必在万国中抛来抛去(申二十八15～25，代下二十九8，耶十五4)。这话应验了，在历史上，犹太人约历经了二千七百年之久，被打碎、被掳掠，国破家亡，在世界各国中抛来抛去。

　　第二、上帝应许，神必纪念跟亚伯拉罕所立的约，把在万国中抛来抛去的犹太人，招聚回归故土，重新建立国家。(诗一零五8～11，结三十四11～13)这话听起来近乎天方夜谭，可是神的话诚信真实，他怎么说就怎么成就，时候到了，犹太人亡国二千七百年之久，竟然于一九四八年五月十四日宣布复国，死里复生。不可能的成为事实，证实圣经的完全可信。
" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/after-israel-national-history.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="以色列复国史"/>
<meta property="og:description" content="圣经有关犹太人的预言和应许，从旧约到新约，真可以说是俯拾皆是。惟其中最奇妙最独特的有两项：第一，神藉着摩西的口，预警犹太人倘若不听从神的话语，不谨守他的一切诫命律例，必在万国中抛来抛去(申二十八15～25，代下二十九8，耶十五4)。这话应验了，在历史上，犹太人约历经了二千七百年之久，被打碎、被掳掠，国破家亡，在世界各国中抛来抛去。

　　第二、上帝应许，神必纪念跟亚伯拉罕所立的约，把在万国中抛来抛去的犹太人，招聚回归故土，重新建立国家。(诗一零五8～11，结三十四11～13)这话听起来近乎天方夜谭，可是神的话诚信真实，他怎么说就怎么成就，时候到了，犹太人亡国二千七百年之久，竟然于一九四八年五月十四日宣布复国，死里复生。不可能的成为事实，证实圣经的完全可信。
"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/167/cover.jpg"/>
<meta property="og:novel:category" content="教会历史"/>
<meta property="og:novel:author" content="黄丹尼"/>
<meta property="og:novel:book_name" content="以色列复国史"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/after-israel-national-history.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/after-israel-national-history.html"/>
<meta property="og:novel:status" content="已完结"/>
<meta property="og:novel:update_time" content="Wed Oct 30 13:23:01 CST 2013"/>
<meta property="og:novel:latest_chapter_name" content="第十章 耶路撒冷的过去现在未来"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/after-israel-national-history/6160.html"/>
<title>以色列复国史_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/after-israel-national-history.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">以色列复国史</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/167/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/after-israel-national-history.html",
            title: "以色列复国史_黄丹尼",
            description: "圣经有关犹太人的预言和应许，从旧约到新约，真可以说是俯拾皆是。惟其中最奇妙最独特的有两项：第一，神藉着摩西的口，预警犹太人倘若不听从神的话语，不谨守他的一切诫命律例，必在万国中抛来抛去(申二十八15～25，代下二十九8，耶十五4)。这话应验了，在历史上，犹太人约历经了二千七百年之久，被打碎、被掳掠，国破家亡，在世界各国中抛来抛去。

　　第二、上帝应许，神必纪念跟亚伯拉罕所立的约，把在万国中抛来抛去的犹太人，招聚回归故土，重新建立国家。(诗一零五8～11，结三十四11～13)这话听起来近乎天方夜谭，可是神的话诚信真实，他怎么说就怎么成就，时候到了，犹太人亡国二千七百年之久，竟然于一九四八年五月十四日宣布复国，死里复生。不可能的成为事实，证实圣经的完全可信。
",
            media: "http://www.aishen360.com/files/book/cover/167/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412125288" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396684291" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book167";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="167"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>