

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="一．科学简史

    　　在写这历史的时候，我承认较著重于物理和天文，这有两个理由。第一是我的背景是物理，从小学四年级我的嗜好就是天文学。第二是任何一本有关科学历史的书都强调这两个科目，因为它们是所有现代科学的根。

    　　Ⅰ.古代古代的巴比伦人、埃及人、和中国人至少在西元前3000年就有基本天文和数学，包括对天体的运动都有相当准确的了解和预测的能力。这可从他们的年历和其他的记载看出来。

    　　在古典希腊人当中我们可以用杰出思想家来代表，像「亚里斯多德」(Aristotle，西元前350年)、「阿基米德」(Archimedes，西元前250年)等人。中国在同样的时代，也发展到相同的程度。他们有生物学、物理、化学、几何学的基本观念。亚里斯多德的物理学是古典希腊人的最高科学成就，也是对以后欧洲文化的最大影响。我们要很简短的讨论这个题目，也要特别注意前提或假设对结论的重要影响力。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/kexueyuxinyang.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="一．科学简史

    　　在写这历史的时候，我承认较著重于物理和天文，这有两个理由。第一是我的背景是物理，从小学四年级我的嗜好就是天文学。第二是任何一本有关科学历史的书都强调这两个科目，因为它们是所有现代科学的根。

    　　Ⅰ.古代古代的巴比伦人、埃及人、和中国人至少在西元前3000年就有基本天文和数学，包括对天体的运动都有相当准确的了解和预测的能力。这可从他们的年历和其他的记载看出来。

    　　在古典希腊人当中我们可以用杰出思想家来代表，像「亚里斯多德」(Aristotle，西元前350年)、「阿基米德」(Archimedes，西元前250年)等人。中国在同样的时代，也发展到相同的程度。他们有生物学、物理、化学、几何学的基本观念。亚里斯多德的物理学是古典希腊人的最高科学成就，也是对以后欧洲文化的最大影响。我们要很简短的讨论这个题目，也要特别注意前提或假设对结论的重要影响力。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/470/cover.jpg"/>
<meta property="og:novel:category" content="初信栽培"/>
<meta property="og:novel:author" content="刘大卫"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/kexueyuxinyang.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/kexueyuxinyang.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Fri Apr 11 13:28:59 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="九. 圣经的特性"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/kexueyuxinyang/21131.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/kexueyuxinyang.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">科学与信仰</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/470/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/kexueyuxinyang.html",
            title: "_刘大卫",
            description: "一．科学简史

    　　在写这历史的时候，我承认较著重于物理和天文，这有两个理由。第一是我的背景是物理，从小学四年级我的嗜好就是天文学。第二是任何一本有关科学历史的书都强调这两个科目，因为它们是所有现代科学的根。

    　　Ⅰ.古代古代的巴比伦人、埃及人、和中国人至少在西元前3000年就有基本天文和数学，包括对天体的运动都有相当准确的了解和预测的能力。这可从他们的年历和其他的记载看出来。

    　　在古典希腊人当中我们可以用杰出思想家来代表，像「亚里斯多德」(Aristotle，西元前350年)、「阿基米德」(Archimedes，西元前250年)等人。中国在同样的时代，也发展到相同的程度。他们有生物学、物理、化学、几何学的基本观念。亚里斯多德的物理学是古典希腊人的最高科学成就，也是对以后欧洲文化的最大影响。我们要很简短的讨论这个题目，也要特别注意前提或假设对结论的重要影响力。",
            media: "http://www.aishen360.com/files/book/cover/470/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412136065" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396693285" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book470";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="470"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>