

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="《飞扬》杂志的内容与主题，是基於耶稣的大爱与圣经中的智慧，向大家把「人」「生」中许多关键的环节解析清楚，传递健康的价值观与人生观，并用活生生的例证分享生活中的应用。
若你有不同於基督教的信仰，也不会有任何妨碍，因为《飞扬》的内容可以帮助你从不同的角度切入，更透彻地了解人生；若你是基督徒，《飞扬》的内容能引导你进入生活与信仰的合一，在日常生活中得着满足与喜乐。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/feiyang201406.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="《飞扬》杂志的内容与主题，是基於耶稣的大爱与圣经中的智慧，向大家把「人」「生」中许多关键的环节解析清楚，传递健康的价值观与人生观，并用活生生的例证分享生活中的应用。
若你有不同於基督教的信仰，也不会有任何妨碍，因为《飞扬》的内容可以帮助你从不同的角度切入，更透彻地了解人生；若你是基督徒，《飞扬》的内容能引导你进入生活与信仰的合一，在日常生活中得着满足与喜乐。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/885/cover.jpg"/>
<meta property="og:novel:category" content="期刊杂志"/>
<meta property="og:novel:author" content="飞扬杂志"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/feiyang201406.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/feiyang201406.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Mon May 04 14:42:31 CST 2015"/>
<meta property="og:novel:latest_chapter_name" content="用生命教我的一堂课"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/feiyang201406/36083.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/feiyang201406.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">飞扬精编版（2014年6月刊）</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/885/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/feiyang201406.html",
            title: "_飞扬杂志",
            description: "《飞扬》杂志的内容与主题，是基於耶稣的大爱与圣经中的智慧，向大家把「人」「生」中许多关键的环节解析清楚，传递健康的价值观与人生观，并用活生生的例证分享生活中的应用。
若你有不同於基督教的信仰，也不会有任何妨碍，因为《飞扬》的内容可以帮助你从不同的角度切入，更透彻地了解人生；若你是基督徒，《飞扬》的内容能引导你进入生活与信仰的合一，在日常生活中得着满足与喜乐。",
            media: "http://www.aishen360.com/files/book/cover/885/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412143997" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396694536" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book885";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="885"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>