

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content=" 薄薄的一本小书，短短的二十位科学家的介绍，竟花了二年半的写作时间。在台湾大学的教书、研究，几乎用尽了我大半的体力与心力，难得出差到外开会，在台北到高雄或台中的自强号火车上，常是我阅读第一手科学资料与写作的时间。这些文章，就是在这种『业余』的情况下挤压出来的。
写作期间，感谢佳音杂志两位主编胡岚芸、徐孟秋软硬兼施的鼓励与催促，才使一只在学校耕了一天的牛，回家后还能拾遗有限的精力，继续苦耕科学的大本原文传记。就这样，一篇篇的文章上了佳音杂志的『科学档案』专栏，得到许多读者热烈的回应。对我是一种极大的鼓励。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/kxdsdqxlaln.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content=" 薄薄的一本小书，短短的二十位科学家的介绍，竟花了二年半的写作时间。在台湾大学的教书、研究，几乎用尽了我大半的体力与心力，难得出差到外开会，在台北到高雄或台中的自强号火车上，常是我阅读第一手科学资料与写作的时间。这些文章，就是在这种『业余』的情况下挤压出来的。
写作期间，感谢佳音杂志两位主编胡岚芸、徐孟秋软硬兼施的鼓励与催促，才使一只在学校耕了一天的牛，回家后还能拾遗有限的精力，继续苦耕科学的大本原文传记。就这样，一篇篇的文章上了佳音杂志的『科学档案』专栏，得到许多读者热烈的回应。对我是一种极大的鼓励。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/744/cover.jpg"/>
<meta property="og:novel:category" content="婚姻家庭"/>
<meta property="og:novel:author" content="张文亮"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/kxdsdqxlaln.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/kxdsdqxlaln.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Fri Dec 26 15:36:56 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="机械交响乐指挥家--汽车工业巨匠克莱斯勒"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/kxdsdqxlaln/31200.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/kxdsdqxlaln.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">科学大师的求学、恋爱与理念</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/744/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/kxdsdqxlaln.html",
            title: "_张文亮",
            description: " 薄薄的一本小书，短短的二十位科学家的介绍，竟花了二年半的写作时间。在台湾大学的教书、研究，几乎用尽了我大半的体力与心力，难得出差到外开会，在台北到高雄或台中的自强号火车上，常是我阅读第一手科学资料与写作的时间。这些文章，就是在这种『业余』的情况下挤压出来的。
写作期间，感谢佳音杂志两位主编胡岚芸、徐孟秋软硬兼施的鼓励与催促，才使一只在学校耕了一天的牛，回家后还能拾遗有限的精力，继续苦耕科学的大本原文传记。就这样，一篇篇的文章上了佳音杂志的『科学档案』专栏，得到许多读者热烈的回应。对我是一种极大的鼓励。",
            media: "http://www.aishen360.com/files/book/cover/744/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412142133" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396694179" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book744";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="744"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>