

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content=" 盛足风老牧师2005年12月23日中午安息主怀，他亲著的一生见证《诉说主恩》．表达了他—— 一个牧人的心声。

    　　为什么要写这本小书呢？

    　　最初的原因是鉴于1964、1965年“左思”高涨，教会前景困难，自己又年过半百，身体不健，离开人世的可能性增大了；遂考虑将主耶稣基督的宝贵救恩和他奇妙的作为写成文字，告诉自己的子孙后代。我满心指望他们能进一步认识我所认识的，得到我所得到的这份属灵产业。我相信，只要讲明事实，我的子孙后代定能自觉探索，悟出真理，圣灵也必启开他们心灵的眼睛，看清属灵世界的真实与价值。本书的部分内容具有家史的味道，就是这个原因。

    　　1966年1月，我开始动笔，以短篇读物的形式一事一篇地写。写到那年7月初，史无前例的“文革”突然揭幕，我和同人经受了从未有过的考验。所有的属灵书刊和文稿全部消失，环境充满了恐怖和凶险。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/sushuozhuen.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="诉说主恩"/>
<meta property="og:description" content=" 盛足风老牧师2005年12月23日中午安息主怀，他亲著的一生见证《诉说主恩》．表达了他—— 一个牧人的心声。

    　　为什么要写这本小书呢？

    　　最初的原因是鉴于1964、1965年“左思”高涨，教会前景困难，自己又年过半百，身体不健，离开人世的可能性增大了；遂考虑将主耶稣基督的宝贵救恩和他奇妙的作为写成文字，告诉自己的子孙后代。我满心指望他们能进一步认识我所认识的，得到我所得到的这份属灵产业。我相信，只要讲明事实，我的子孙后代定能自觉探索，悟出真理，圣灵也必启开他们心灵的眼睛，看清属灵世界的真实与价值。本书的部分内容具有家史的味道，就是这个原因。

    　　1966年1月，我开始动笔，以短篇读物的形式一事一篇地写。写到那年7月初，史无前例的“文革”突然揭幕，我和同人经受了从未有过的考验。所有的属灵书刊和文稿全部消失，环境充满了恐怖和凶险。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/535/cover.jpg"/>
<meta property="og:novel:category" content="个人传记"/>
<meta property="og:novel:author" content="盛足风"/>
<meta property="og:novel:book_name" content="诉说主恩"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/sushuozhuen.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/sushuozhuen.html"/>
<meta property="og:novel:status" content="已完结"/>
<meta property="og:novel:update_time" content="Fri Apr 25 13:18:27 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="特稿（二）：重生，究竟是怎样一回事？"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/sushuozhuen/24513.html"/>
<title>诉说主恩_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/sushuozhuen.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">诉说主恩</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/535/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/sushuozhuen.html",
            title: "诉说主恩_盛足风",
            description: " 盛足风老牧师2005年12月23日中午安息主怀，他亲著的一生见证《诉说主恩》．表达了他—— 一个牧人的心声。

    　　为什么要写这本小书呢？

    　　最初的原因是鉴于1964、1965年“左思”高涨，教会前景困难，自己又年过半百，身体不健，离开人世的可能性增大了；遂考虑将主耶稣基督的宝贵救恩和他奇妙的作为写成文字，告诉自己的子孙后代。我满心指望他们能进一步认识我所认识的，得到我所得到的这份属灵产业。我相信，只要讲明事实，我的子孙后代定能自觉探索，悟出真理，圣灵也必启开他们心灵的眼睛，看清属灵世界的真实与价值。本书的部分内容具有家史的味道，就是这个原因。

    　　1966年1月，我开始动笔，以短篇读物的形式一事一篇地写。写到那年7月初，史无前例的“文革”突然揭幕，我和同人经受了从未有过的考验。所有的属灵书刊和文稿全部消失，环境充满了恐怖和凶险。",
            media: "http://www.aishen360.com/files/book/cover/535/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412138163" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396693491" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book535";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="535"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>