

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="安徒生童话不需推荐，但最需导读。
在所有童话中，安徒生童话被公认为最经典、最深刻但也是最难读的。从没有一种童话写过这么多苦难，也从没有一种童话展示出这么多的爱！多年来，童话之于安徒生，既是最好的平台，又是最大陷阱，单以童话思路根本读不懂他。尤其是在安徒生童话读者最多的中国，由于价值观的前置，导致多年来人们一直误解安徒生本人，误读安徒生童话。
灵性文学作家齐宏伟在反复阅读安徒生所有童话的基础上，经多年研究积淀，又反复斟酌、比较、筛选，从安徒生所有童话中精选了20篇代表作，先“精要、摘录和速读”，再“赏析、再思与导读”，带领父母、老师和孩子走进安徒生伟大、神奇的童话王国。全书深入浅出、雅俗共赏，既能滋养人的心灵，且又不失诗意和灵动言说。
本书从信仰角度解读安徒生童话，是迄今唯一的一本。实为青少年最佳人性读本！面对童话经典，父母、老师不再无从下手，孩子不再无所适从！堪称童话大师入门第一书！" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/shangdidehuochai.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="上帝的火柴"/>
<meta property="og:description" content="安徒生童话不需推荐，但最需导读。
在所有童话中，安徒生童话被公认为最经典、最深刻但也是最难读的。从没有一种童话写过这么多苦难，也从没有一种童话展示出这么多的爱！多年来，童话之于安徒生，既是最好的平台，又是最大陷阱，单以童话思路根本读不懂他。尤其是在安徒生童话读者最多的中国，由于价值观的前置，导致多年来人们一直误解安徒生本人，误读安徒生童话。
灵性文学作家齐宏伟在反复阅读安徒生所有童话的基础上，经多年研究积淀，又反复斟酌、比较、筛选，从安徒生所有童话中精选了20篇代表作，先“精要、摘录和速读”，再“赏析、再思与导读”，带领父母、老师和孩子走进安徒生伟大、神奇的童话王国。全书深入浅出、雅俗共赏，既能滋养人的心灵，且又不失诗意和灵动言说。
本书从信仰角度解读安徒生童话，是迄今唯一的一本。实为青少年最佳人性读本！面对童话经典，父母、老师不再无从下手，孩子不再无所适从！堪称童话大师入门第一书！"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/927/cover.jpg"/>
<meta property="og:novel:category" content="亲子育儿"/>
<meta property="og:novel:author" content="齐宏伟"/>
<meta property="og:novel:book_name" content="上帝的火柴"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/shangdidehuochai.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/shangdidehuochai.html"/>
<meta property="og:novel:status" content="已完结"/>
<meta property="og:novel:update_time" content="Thu Jun 23 09:08:14 CST 2016"/>
<meta property="og:novel:latest_chapter_name" content="上帝的火柴-书摘"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/shangdidehuochai/37512.html"/>
<title>上帝的火柴_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/shangdidehuochai.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">上帝的火柴</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/927/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/shangdidehuochai.html",
            title: "上帝的火柴_齐宏伟",
            description: "安徒生童话不需推荐，但最需导读。
在所有童话中，安徒生童话被公认为最经典、最深刻但也是最难读的。从没有一种童话写过这么多苦难，也从没有一种童话展示出这么多的爱！多年来，童话之于安徒生，既是最好的平台，又是最大陷阱，单以童话思路根本读不懂他。尤其是在安徒生童话读者最多的中国，由于价值观的前置，导致多年来人们一直误解安徒生本人，误读安徒生童话。
灵性文学作家齐宏伟在反复阅读安徒生所有童话的基础上，经多年研究积淀，又反复斟酌、比较、筛选，从安徒生所有童话中精选了20篇代表作，先“精要、摘录和速读”，再“赏析、再思与导读”，带领父母、老师和孩子走进安徒生伟大、神奇的童话王国。全书深入浅出、雅俗共赏，既能滋养人的心灵，且又不失诗意和灵动言说。
本书从信仰角度解读安徒生童话，是迄今唯一的一本。实为青少年最佳人性读本！面对童话经典，父母、老师不再无从下手，孩子不再无所适从！堪称童话大师入门第一书！",
            media: "http://www.aishen360.com/files/book/cover/927/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412144851" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396694728" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book927";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="927"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>