

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="一天我在**默想中，宛如到了基督的审判台前，(林后五１０)荣耀的主坐在宝座上，众圣徒环立左右，静听祂对各人的判语。许多人存着感戴欢悦的态度，知道片刻之间，就有荣耀的冠冕，称赞与尊贵临到他的头上；也有许多人，带着畏缩不安的神情，知道按公义审判各人的主，对于他以往的懒惰不忠，要有相当的处分，有羞愧与哀哭等候他……正在这时候，我想到自己，当如何及早预备，如何应付这必临到的事实，到那一天我是得赏呢？是受羞辱呢？

    　　我回想我以往的生活，草木禾楷的工作，如何经得起烈火的试验，倘若主今天来，我是后悔莫及了。那么信主已经多年，事奉主也有不少的时候，为何没有及早预备呢？哦！明白了，完全在一种侥幸的心情下度生活，盲目的想着荣耀；空欢喜的想着冠冕；完全是一种妄想，僥幸的心理，或者主那一天不计较我的不忠不诚，而凭祂无限的慈爱给我荣耀的赏赐，(恐怕许多信徒、工人，是和我一样的妄想。)作一个不劳而得粮食的农夫。(雅五７)" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/deshengyudeshang.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="一天我在**默想中，宛如到了基督的审判台前，(林后五１０)荣耀的主坐在宝座上，众圣徒环立左右，静听祂对各人的判语。许多人存着感戴欢悦的态度，知道片刻之间，就有荣耀的冠冕，称赞与尊贵临到他的头上；也有许多人，带着畏缩不安的神情，知道按公义审判各人的主，对于他以往的懒惰不忠，要有相当的处分，有羞愧与哀哭等候他……正在这时候，我想到自己，当如何及早预备，如何应付这必临到的事实，到那一天我是得赏呢？是受羞辱呢？

    　　我回想我以往的生活，草木禾楷的工作，如何经得起烈火的试验，倘若主今天来，我是后悔莫及了。那么信主已经多年，事奉主也有不少的时候，为何没有及早预备呢？哦！明白了，完全在一种侥幸的心情下度生活，盲目的想着荣耀；空欢喜的想着冠冕；完全是一种妄想，僥幸的心理，或者主那一天不计较我的不忠不诚，而凭祂无限的慈爱给我荣耀的赏赐，(恐怕许多信徒、工人，是和我一样的妄想。)作一个不劳而得粮食的农夫。(雅五７)"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/487/cover.jpg"/>
<meta property="og:novel:category" content="初信栽培"/>
<meta property="og:novel:author" content="杨绍唐"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/deshengyudeshang.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/deshengyudeshang.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Fri Apr 18 15:25:45 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="心中火热的得胜 -- 老底嘉教会"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/deshengyudeshang/22568.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/deshengyudeshang.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">得胜与得赏</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/487/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/deshengyudeshang.html",
            title: "_杨绍唐",
            description: "一天我在**默想中，宛如到了基督的审判台前，(林后五１０)荣耀的主坐在宝座上，众圣徒环立左右，静听祂对各人的判语。许多人存着感戴欢悦的态度，知道片刻之间，就有荣耀的冠冕，称赞与尊贵临到他的头上；也有许多人，带着畏缩不安的神情，知道按公义审判各人的主，对于他以往的懒惰不忠，要有相当的处分，有羞愧与哀哭等候他……正在这时候，我想到自己，当如何及早预备，如何应付这必临到的事实，到那一天我是得赏呢？是受羞辱呢？

    　　我回想我以往的生活，草木禾楷的工作，如何经得起烈火的试验，倘若主今天来，我是后悔莫及了。那么信主已经多年，事奉主也有不少的时候，为何没有及早预备呢？哦！明白了，完全在一种侥幸的心情下度生活，盲目的想着荣耀；空欢喜的想着冠冕；完全是一种妄想，僥幸的心理，或者主那一天不计较我的不忠不诚，而凭祂无限的慈爱给我荣耀的赏赐，(恐怕许多信徒、工人，是和我一样的妄想。)作一个不劳而得粮食的农夫。(雅五７)",
            media: "http://www.aishen360.com/files/book/cover/487/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412136633" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396693340" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book487";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="487"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>