

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="(经文：约翰福音十六1-11)人在得着或经历到救恩之前，圣灵必要使他知道自已有罪。人若没有经验过耶稣在约翰音十六章7至11节所讲的那种被定罪的自责感，他就还未真正得着救恩。人们通常会以为，他们那日决定要接受救恩，他们那日就会得救。而且，传福音的人亦往往忽略了一个事实，就是他必须确保人一定要经历到圣灵对罪的责备，那才有结出属灵果子的可能。在使人得救的事上，采取主动的永远是神──请翻阅创世记三章9节和约翰福音十五章16节。若不是神主动寻找人，人根本不可能懂得寻求神──请翻阅罗马书三章11节，并比对约翰福音五章6节和六章44节。这带出一个问题：父神怎样引领人来到基督面前？答案是：借着圣灵；而圣灵第一项完成的伟大工作，就是使人知道自已有罪，也就是说，他令我们知道自已极之需要一位救主──请翻阅创世记六章3节和希伯来书三章7至8节。圣灵在人心中的「对抗」和「说话」，全都是为了完成他那项使人知罪的伟大工作。圣灵要使人知道自已有什么罪？" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/weidadefuyin.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="伟大的福音"/>
<meta property="og:description" content="(经文：约翰福音十六1-11)人在得着或经历到救恩之前，圣灵必要使他知道自已有罪。人若没有经验过耶稣在约翰音十六章7至11节所讲的那种被定罪的自责感，他就还未真正得着救恩。人们通常会以为，他们那日决定要接受救恩，他们那日就会得救。而且，传福音的人亦往往忽略了一个事实，就是他必须确保人一定要经历到圣灵对罪的责备，那才有结出属灵果子的可能。在使人得救的事上，采取主动的永远是神──请翻阅创世记三章9节和约翰福音十五章16节。若不是神主动寻找人，人根本不可能懂得寻求神──请翻阅罗马书三章11节，并比对约翰福音五章6节和六章44节。这带出一个问题：父神怎样引领人来到基督面前？答案是：借着圣灵；而圣灵第一项完成的伟大工作，就是使人知道自已有罪，也就是说，他令我们知道自已极之需要一位救主──请翻阅创世记六章3节和希伯来书三章7至8节。圣灵在人心中的「对抗」和「说话」，全都是为了完成他那项使人知罪的伟大工作。圣灵要使人知道自已有什么罪？"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/315/cover.jpg"/>
<meta property="og:novel:category" content="灵修书籍"/>
<meta property="og:novel:author" content="法兰斯·迪信"/>
<meta property="og:novel:book_name" content="伟大的福音"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/weidadefuyin.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/weidadefuyin.html"/>
<meta property="og:novel:status" content="已完结"/>
<meta property="og:novel:update_time" content="Thu Jan 16 12:57:50 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="第十课 得荣耀"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/weidadefuyin/13809.html"/>
<title>伟大的福音_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/weidadefuyin.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">伟大的福音</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/315/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/weidadefuyin.html",
            title: "伟大的福音_法兰斯·迪信",
            description: "(经文：约翰福音十六1-11)人在得着或经历到救恩之前，圣灵必要使他知道自已有罪。人若没有经验过耶稣在约翰音十六章7至11节所讲的那种被定罪的自责感，他就还未真正得着救恩。人们通常会以为，他们那日决定要接受救恩，他们那日就会得救。而且，传福音的人亦往往忽略了一个事实，就是他必须确保人一定要经历到圣灵对罪的责备，那才有结出属灵果子的可能。在使人得救的事上，采取主动的永远是神──请翻阅创世记三章9节和约翰福音十五章16节。若不是神主动寻找人，人根本不可能懂得寻求神──请翻阅罗马书三章11节，并比对约翰福音五章6节和六章44节。这带出一个问题：父神怎样引领人来到基督面前？答案是：借着圣灵；而圣灵第一项完成的伟大工作，就是使人知道自已有罪，也就是说，他令我们知道自已极之需要一位救主──请翻阅创世记六章3节和希伯来书三章7至8节。圣灵在人心中的「对抗」和「说话」，全都是为了完成他那项使人知罪的伟大工作。圣灵要使人知道自已有什么罪？",
            media: "http://www.aishen360.com/files/book/cover/315/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412130037" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396692882" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book315";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="315"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>