

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content=" 达礼治博士（Dr。PhilipDoddrige，1702-1751）是英国十八世纪一位最有名的不从国教者。达氏出生于英格兰的北散普敦，并在家中开设了一间小大学训练传道人。达氏本人曾就读于名诗歌著作人以撒瓦特的学院，由于瓦特的请求，于一七四四年，达氏出版了一本书，名为“属灵宗教的兴起与进展”。数年来，这本书曾经帮助了无数关心的人。本小册的内容即该书之缩本，为戴文尼（RogerDevenish）先生执笔。华神的几位同学有意学习神学翻译，初步训练就采用了这本小书作为题材，前八章由吕沛渊等五位同学执笔，后二篇则由编者负责补译。该书言简意赅，申明基督徒的开始及以后生活的指导，可谓针针见血，都是肺腑之言，对初作信徒的人是本天路指南，兹介绍给中国读者，能得到正如原书所给人的帮助一样。

    赵中辉

    一九八四年一月七日" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/shengmingdekaiduan.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content=" 达礼治博士（Dr。PhilipDoddrige，1702-1751）是英国十八世纪一位最有名的不从国教者。达氏出生于英格兰的北散普敦，并在家中开设了一间小大学训练传道人。达氏本人曾就读于名诗歌著作人以撒瓦特的学院，由于瓦特的请求，于一七四四年，达氏出版了一本书，名为“属灵宗教的兴起与进展”。数年来，这本书曾经帮助了无数关心的人。本小册的内容即该书之缩本，为戴文尼（RogerDevenish）先生执笔。华神的几位同学有意学习神学翻译，初步训练就采用了这本小书作为题材，前八章由吕沛渊等五位同学执笔，后二篇则由编者负责补译。该书言简意赅，申明基督徒的开始及以后生活的指导，可谓针针见血，都是肺腑之言，对初作信徒的人是本天路指南，兹介绍给中国读者，能得到正如原书所给人的帮助一样。

    赵中辉

    一九八四年一月七日"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/488/cover.jpg"/>
<meta property="og:novel:category" content="初信栽培"/>
<meta property="og:novel:author" content="达礼治"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/shengmingdekaiduan.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/shengmingdekaiduan.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Fri Apr 18 15:29:58 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="十、基督徒的长进"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/shengmingdekaiduan/22579.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/shengmingdekaiduan.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">生命的开端</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/488/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/shengmingdekaiduan.html",
            title: "_达礼治",
            description: " 达礼治博士（Dr。PhilipDoddrige，1702-1751）是英国十八世纪一位最有名的不从国教者。达氏出生于英格兰的北散普敦，并在家中开设了一间小大学训练传道人。达氏本人曾就读于名诗歌著作人以撒瓦特的学院，由于瓦特的请求，于一七四四年，达氏出版了一本书，名为“属灵宗教的兴起与进展”。数年来，这本书曾经帮助了无数关心的人。本小册的内容即该书之缩本，为戴文尼（RogerDevenish）先生执笔。华神的几位同学有意学习神学翻译，初步训练就采用了这本小书作为题材，前八章由吕沛渊等五位同学执笔，后二篇则由编者负责补译。该书言简意赅，申明基督徒的开始及以后生活的指导，可谓针针见血，都是肺腑之言，对初作信徒的人是本天路指南，兹介绍给中国读者，能得到正如原书所给人的帮助一样。

    赵中辉

    一九八四年一月七日",
            media: "http://www.aishen360.com/files/book/cover/488/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412136646" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396693343" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book488";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="488"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>