

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="我问你一个问题：谁在掌管世上发生的每件事情呢？是上帝，还是撒但呢？许多人以为上帝是天上的一种君王，他们不认为祂创造世界，更不认为祂掌管世上的万事。又有些人以为世界像一部机器，按照自然律在运行着。又有人说，人可以运用自己的自由意志去决定所要发生在他身上的事。
但是，容我再把这个问题问一遍，谁在掌管世上发生的每件事情呢？是上帝？还是撒但？我们看见世上所发生的事情，便很容易认为是撒但在掌管，世上有这么多的混乱和罪恶，不法的事愈来愈多，战争与革命之声不绝于耳，世界真是扰嚷不安、恐惧不已。主耶稣基督仍然被人忽略，许多人认为基督教没有希望了，甚至有时基督徒自己也说，虽然上帝想要拯救世人却做不到，因为人不愿上帝救他们。几乎每件事情都向我们显明，撒但对要发生的事比上帝有更大的控制权。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/sheizaizhangguan.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="谁在掌管？"/>
<meta property="og:description" content="我问你一个问题：谁在掌管世上发生的每件事情呢？是上帝，还是撒但呢？许多人以为上帝是天上的一种君王，他们不认为祂创造世界，更不认为祂掌管世上的万事。又有些人以为世界像一部机器，按照自然律在运行着。又有人说，人可以运用自己的自由意志去决定所要发生在他身上的事。
但是，容我再把这个问题问一遍，谁在掌管世上发生的每件事情呢？是上帝？还是撒但？我们看见世上所发生的事情，便很容易认为是撒但在掌管，世上有这么多的混乱和罪恶，不法的事愈来愈多，战争与革命之声不绝于耳，世界真是扰嚷不安、恐惧不已。主耶稣基督仍然被人忽略，许多人认为基督教没有希望了，甚至有时基督徒自己也说，虽然上帝想要拯救世人却做不到，因为人不愿上帝救他们。几乎每件事情都向我们显明，撒但对要发生的事比上帝有更大的控制权。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/875/cover.jpg"/>
<meta property="og:novel:category" content="福音真理"/>
<meta property="og:novel:author" content="宾克"/>
<meta property="og:novel:book_name" content="谁在掌管？"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/sheizaizhangguan.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/sheizaizhangguan.html"/>
<meta property="og:novel:status" content="已完结"/>
<meta property="og:novel:update_time" content="Fri Apr 17 13:56:57 CST 2015"/>
<meta property="og:novel:latest_chapter_name" content="第十二章 现在我们当如何行"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/sheizaizhangguan/35930.html"/>
<title>谁在掌管？_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/sheizaizhangguan.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">谁在掌管？</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/875/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/sheizaizhangguan.html",
            title: "谁在掌管？_宾克",
            description: "我问你一个问题：谁在掌管世上发生的每件事情呢？是上帝，还是撒但呢？许多人以为上帝是天上的一种君王，他们不认为祂创造世界，更不认为祂掌管世上的万事。又有些人以为世界像一部机器，按照自然律在运行着。又有人说，人可以运用自己的自由意志去决定所要发生在他身上的事。
但是，容我再把这个问题问一遍，谁在掌管世上发生的每件事情呢？是上帝？还是撒但？我们看见世上所发生的事情，便很容易认为是撒但在掌管，世上有这么多的混乱和罪恶，不法的事愈来愈多，战争与革命之声不绝于耳，世界真是扰嚷不安、恐惧不已。主耶稣基督仍然被人忽略，许多人认为基督教没有希望了，甚至有时基督徒自己也说，虽然上帝想要拯救世人却做不到，因为人不愿上帝救他们。几乎每件事情都向我们显明，撒但对要发生的事比上帝有更大的控制权。",
            media: "http://www.aishen360.com/files/book/cover/875/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412143887" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396694495" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book875";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="875"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>