

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content=" 目      录
序…………………………………………………………………………… 
引言………………………………………………………………………… 
有关「儿童布道事工的圣经根基」的三大基要事实…………………… 

第一段
阐明圣经中谈及儿童的五大主要章段
    A申命记……………………………………………………………… 
    B诗篇七十八章一至八节…………………………………………… 
    C马太福音十八章一至十四节……………………………………… 
    D 马可福音十章三至十六节………………………………………… 
    箴 言…………………………………………………………………  

第二段
一些重要问题的圣经答案
    1.将神的话教导儿童是重要的吗？…………………………………  
    2.儿童能对神有真正的体验吗？小孩子能够重生得救吗？……… 
    3. 儿童能在何年岁重生？……………………………………………
    4. 小孩子是失丧的吗？他需要救恩吗？小孩子若死了，他会到天堂
    吗？还是到地狱去？………………………………………………… 
    5. 圣经有否提及一个负责任的年岁？那些比这年岁还幼少的儿童在
    死後会上天堂吗？…………………………………………………… 
    6.我应否向儿童谈及神的审判和指出他们需要悔改和归信神呢？… 
    7。儿童是否较成年人更单纯和容易接受基督呢？………………… " />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/children-ministry.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content=" 目      录
序…………………………………………………………………………… 
引言………………………………………………………………………… 
有关「儿童布道事工的圣经根基」的三大基要事实…………………… 

第一段
阐明圣经中谈及儿童的五大主要章段
    A申命记……………………………………………………………… 
    B诗篇七十八章一至八节…………………………………………… 
    C马太福音十八章一至十四节……………………………………… 
    D 马可福音十章三至十六节………………………………………… 
    箴 言…………………………………………………………………  

第二段
一些重要问题的圣经答案
    1.将神的话教导儿童是重要的吗？…………………………………  
    2.儿童能对神有真正的体验吗？小孩子能够重生得救吗？……… 
    3. 儿童能在何年岁重生？……………………………………………
    4. 小孩子是失丧的吗？他需要救恩吗？小孩子若死了，他会到天堂
    吗？还是到地狱去？………………………………………………… 
    5. 圣经有否提及一个负责任的年岁？那些比这年岁还幼少的儿童在
    死後会上天堂吗？…………………………………………………… 
    6.我应否向儿童谈及神的审判和指出他们需要悔改和归信神呢？… 
    7。儿童是否较成年人更单纯和容易接受基督呢？………………… "/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/46/cover.jpg"/>
<meta property="og:novel:category" content="主日学类"/>
<meta property="og:novel:author" content="杜孝慈"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/children-ministry.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/children-ministry.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Mon Aug 05 15:35:04 CST 2013"/>
<meta property="og:novel:latest_chapter_name" content="本团组织架构"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/children-ministry/1641.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/children-ministry.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">儿童布道事工的圣经根基</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/46/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/children-ministry.html",
            title: "_杜孝慈",
            description: " 目      录
序…………………………………………………………………………… 
引言………………………………………………………………………… 
有关「儿童布道事工的圣经根基」的三大基要事实…………………… 

第一段
阐明圣经中谈及儿童的五大主要章段
    A申命记……………………………………………………………… 
    B诗篇七十八章一至八节…………………………………………… 
    C马太福音十八章一至十四节……………………………………… 
    D 马可福音十章三至十六节………………………………………… 
    箴 言…………………………………………………………………  

第二段
一些重要问题的圣经答案
    1.将神的话教导儿童是重要的吗？…………………………………  
    2.儿童能对神有真正的体验吗？小孩子能够重生得救吗？……… 
    3. 儿童能在何年岁重生？……………………………………………
    4. 小孩子是失丧的吗？他需要救恩吗？小孩子若死了，他会到天堂
    吗？还是到地狱去？………………………………………………… 
    5. 圣经有否提及一个负责任的年岁？那些比这年岁还幼少的儿童在
    死後会上天堂吗？…………………………………………………… 
    6.我应否向儿童谈及神的审判和指出他们需要悔改和归信神呢？… 
    7。儿童是否较成年人更单纯和容易接受基督呢？………………… ",
            media: "http://www.aishen360.com/files/book/cover/46/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412120619" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396691981" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book46";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="46"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>