

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="罗得虽然得救，但只是仅仅得救。我们在本课查考的人物，是罗得的妻子，她几乎可以得救，但最终却失丧了──翻阅创世记十九章17节和24至26节。当主耶稣提醒门徒要留意将来审判的话中，曾提到挪亚的日子(路十七26-27)和罗得的日子(28至29节)，并且叫门徒回想罗得妻子的结局。耶稣就是真理(约十四6)，他讲的当然是真理。他绝对不会说一个不合时宜的字。创世记所记载的都是历史事件，我们在当中所读到的绝非民间传说或虚构故事；它们是真实的历史事件，我们的主亦亲自证实。他说：「你们要回想罗得的妻子」，然後便提醒门徒要留意临到她身上的是迅雷不及掩耳的可怕审判。他这番话是与他的再来有关，令我们想到圣经其中一段最可怕的话──翻阅帖撒罗尼迦後书一章7至9节。不要试图淡化这番严厉警告的逼切性。「你们要回想罗得的妻子」(路十七32)──这是出於谁人的吩咐，和为何要作出这个提醒？她的生平有五件事情特别值得我们去回想。
" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/xinshijixuanjiao.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="新世纪宣教－牧会哲学"/>
<meta property="og:description" content="罗得虽然得救，但只是仅仅得救。我们在本课查考的人物，是罗得的妻子，她几乎可以得救，但最终却失丧了──翻阅创世记十九章17节和24至26节。当主耶稣提醒门徒要留意将来审判的话中，曾提到挪亚的日子(路十七26-27)和罗得的日子(28至29节)，并且叫门徒回想罗得妻子的结局。耶稣就是真理(约十四6)，他讲的当然是真理。他绝对不会说一个不合时宜的字。创世记所记载的都是历史事件，我们在当中所读到的绝非民间传说或虚构故事；它们是真实的历史事件，我们的主亦亲自证实。他说：「你们要回想罗得的妻子」，然後便提醒门徒要留意临到她身上的是迅雷不及掩耳的可怕审判。他这番话是与他的再来有关，令我们想到圣经其中一段最可怕的话──翻阅帖撒罗尼迦後书一章7至9节。不要试图淡化这番严厉警告的逼切性。「你们要回想罗得的妻子」(路十七32)──这是出於谁人的吩咐，和为何要作出这个提醒？她的生平有五件事情特别值得我们去回想。
"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/233/cover.jpg"/>
<meta property="og:novel:category" content="教牧相关"/>
<meta property="og:novel:author" content="林政杰"/>
<meta property="og:novel:book_name" content="新世纪宣教－牧会哲学"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/xinshijixuanjiao.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/xinshijixuanjiao.html"/>
<meta property="og:novel:status" content="已完结"/>
<meta property="og:novel:update_time" content="Fri Dec 27 16:17:43 CST 2013"/>
<meta property="og:novel:latest_chapter_name" content="十、论福篇——八福于时代性意义"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/xinshijixuanjiao/7467.html"/>
<title>新世纪宣教－牧会哲学_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/xinshijixuanjiao.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">新世纪宣教</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/233/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/xinshijixuanjiao.html",
            title: "新世纪宣教－牧会哲学_林政杰",
            description: "罗得虽然得救，但只是仅仅得救。我们在本课查考的人物，是罗得的妻子，她几乎可以得救，但最终却失丧了──翻阅创世记十九章17节和24至26节。当主耶稣提醒门徒要留意将来审判的话中，曾提到挪亚的日子(路十七26-27)和罗得的日子(28至29节)，并且叫门徒回想罗得妻子的结局。耶稣就是真理(约十四6)，他讲的当然是真理。他绝对不会说一个不合时宜的字。创世记所记载的都是历史事件，我们在当中所读到的绝非民间传说或虚构故事；它们是真实的历史事件，我们的主亦亲自证实。他说：「你们要回想罗得的妻子」，然後便提醒门徒要留意临到她身上的是迅雷不及掩耳的可怕审判。他这番话是与他的再来有关，令我们想到圣经其中一段最可怕的话──翻阅帖撒罗尼迦後书一章7至9节。不要试图淡化这番严厉警告的逼切性。「你们要回想罗得的妻子」(路十七32)──这是出於谁人的吩咐，和为何要作出这个提醒？她的生平有五件事情特别值得我们去回想。
",
            media: "http://www.aishen360.com/files/book/cover/233/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412128224" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396692618" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book233";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="233"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>