

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="
　　庄祖鲲博士，福建省晋江县人，出生于台湾。1983年获美国西北大学化工博士学位，后返台担任高级研究主管。1990年，蒙神呼召，再度赴美攻读神学，并于1995年获得三一神学院的文化学博士学位，随后被按立为牧师，并应邀在波士顿牧会迄今。现已出版了《契合与转化》、《宣教与文化》、《宣教历史》、《宣教神学》等著作。
今日华人教会越来越重视宣教，因此莫不想积极地推动宣教。正因此缘故，无论在神学院，或是在教会，有关宣教方面有系统的教导，就成了非常重要的一步。我们如果要探究基督教选教学，就必须研究宣教历史。因为选教学本身是由三个主要的学术领域交集而成的：（1）宣教历史；（2）宣教神学；（3）文化人类学及社会学。在这三个领域中，宣教历史提供有关宣教的历史回顾；宣教神学提供宣教的圣经及神学基础；文化人类学及社会学则分别由文化和社会运动的角度对宣教运动提供新的透视。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/mission-history.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="宣教历史"/>
<meta property="og:description" content="
　　庄祖鲲博士，福建省晋江县人，出生于台湾。1983年获美国西北大学化工博士学位，后返台担任高级研究主管。1990年，蒙神呼召，再度赴美攻读神学，并于1995年获得三一神学院的文化学博士学位，随后被按立为牧师，并应邀在波士顿牧会迄今。现已出版了《契合与转化》、《宣教与文化》、《宣教历史》、《宣教神学》等著作。
今日华人教会越来越重视宣教，因此莫不想积极地推动宣教。正因此缘故，无论在神学院，或是在教会，有关宣教方面有系统的教导，就成了非常重要的一步。我们如果要探究基督教选教学，就必须研究宣教历史。因为选教学本身是由三个主要的学术领域交集而成的：（1）宣教历史；（2）宣教神学；（3）文化人类学及社会学。在这三个领域中，宣教历史提供有关宣教的历史回顾；宣教神学提供宣教的圣经及神学基础；文化人类学及社会学则分别由文化和社会运动的角度对宣教运动提供新的透视。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/79/cover.jpg"/>
<meta property="og:novel:category" content="教会历史"/>
<meta property="og:novel:author" content="庄祖鲲"/>
<meta property="og:novel:book_name" content="宣教历史"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/mission-history.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/mission-history.html"/>
<meta property="og:novel:status" content="已完结"/>
<meta property="og:novel:update_time" content="Thu Aug 08 14:06:02 CST 2013"/>
<meta property="og:novel:latest_chapter_name" content="第十二章 结论：二十一世纪宣教的前瞻"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/mission-history/2345.html"/>
<title>宣教历史_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/mission-history.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">宣教历史</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/79/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/mission-history.html",
            title: "宣教历史_庄祖鲲",
            description: "
　　庄祖鲲博士，福建省晋江县人，出生于台湾。1983年获美国西北大学化工博士学位，后返台担任高级研究主管。1990年，蒙神呼召，再度赴美攻读神学，并于1995年获得三一神学院的文化学博士学位，随后被按立为牧师，并应邀在波士顿牧会迄今。现已出版了《契合与转化》、《宣教与文化》、《宣教历史》、《宣教神学》等著作。
今日华人教会越来越重视宣教，因此莫不想积极地推动宣教。正因此缘故，无论在神学院，或是在教会，有关宣教方面有系统的教导，就成了非常重要的一步。我们如果要探究基督教选教学，就必须研究宣教历史。因为选教学本身是由三个主要的学术领域交集而成的：（1）宣教历史；（2）宣教神学；（3）文化人类学及社会学。在这三个领域中，宣教历史提供有关宣教的历史回顾；宣教神学提供宣教的圣经及神学基础；文化人类学及社会学则分别由文化和社会运动的角度对宣教运动提供新的透视。",
            media: "http://www.aishen360.com/files/book/cover/79/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412121323" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396684282" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book79";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="79"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>