

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="斯托得(John R.W. Stott)为知名的英国牧师、释经者，与著作等身的作家，著有：《认识圣经》、《当代基督十架》、

《当代圣灵工作》、《当代讲道艺术》、《当代基督门徒》、《当代基督教与社会》、《圣经信息系列》、《为真道而战》、《真理的探索

》等书。 本书准确切入福音派信仰的核心，代表一位杰出基督徒领袖成熟的反省。作者的透视范围横跨教会历史、它形成的教训，以及今日

普世的教会。 从反面来说，他辨称福音派信仰并不是新兴的派别，也不是基督教正统的旁门，更不是当代的基要主义。从正面来说，他表示

福音派真理有坚强可靠的三位一体特质。他指出福音派的两个重点：基督一次而永远成就的事工，与圣灵活泼而持续的工作。 因此福音派人

士发现一定要作三个重要的见证：天父上帝施恩，主动向我们启示他自己；耶稣基督藉着十字架救赎我们；内住的圣灵不断改变我们。这也

是为什么福音派信仰强调：道(圣经)、十字架和圣灵，再没有其他因素比这三者更重要。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/evangelical-faith.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="认识福音派信仰"/>
<meta property="og:description" content="斯托得(John R.W. Stott)为知名的英国牧师、释经者，与著作等身的作家，著有：《认识圣经》、《当代基督十架》、

《当代圣灵工作》、《当代讲道艺术》、《当代基督门徒》、《当代基督教与社会》、《圣经信息系列》、《为真道而战》、《真理的探索

》等书。 本书准确切入福音派信仰的核心，代表一位杰出基督徒领袖成熟的反省。作者的透视范围横跨教会历史、它形成的教训，以及今日

普世的教会。 从反面来说，他辨称福音派信仰并不是新兴的派别，也不是基督教正统的旁门，更不是当代的基要主义。从正面来说，他表示

福音派真理有坚强可靠的三位一体特质。他指出福音派的两个重点：基督一次而永远成就的事工，与圣灵活泼而持续的工作。 因此福音派人

士发现一定要作三个重要的见证：天父上帝施恩，主动向我们启示他自己；耶稣基督藉着十字架救赎我们；内住的圣灵不断改变我们。这也

是为什么福音派信仰强调：道(圣经)、十字架和圣灵，再没有其他因素比这三者更重要。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/4/cover.jpg"/>
<meta property="og:novel:category" content="福音真理"/>
<meta property="og:novel:author" content="斯托得"/>
<meta property="og:novel:book_name" content="认识福音派信仰"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/evangelical-faith.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/evangelical-faith.html"/>
<meta property="og:novel:status" content="已完结"/>
<meta property="og:novel:update_time" content="Thu Aug 01 15:32:11 CST 2013"/>
<meta property="og:novel:latest_chapter_name" content="附注："/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/evangelical-faith/131.html"/>
<title>认识福音派信仰_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/evangelical-faith.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">认识福音派信仰</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/4/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/evangelical-faith.html",
            title: "认识福音派信仰_斯托得",
            description: "斯托得(John R.W. Stott)为知名的英国牧师、释经者，与著作等身的作家，著有：《认识圣经》、《当代基督十架》、

《当代圣灵工作》、《当代讲道艺术》、《当代基督门徒》、《当代基督教与社会》、《圣经信息系列》、《为真道而战》、《真理的探索

》等书。 本书准确切入福音派信仰的核心，代表一位杰出基督徒领袖成熟的反省。作者的透视范围横跨教会历史、它形成的教训，以及今日

普世的教会。 从反面来说，他辨称福音派信仰并不是新兴的派别，也不是基督教正统的旁门，更不是当代的基要主义。从正面来说，他表示

福音派真理有坚强可靠的三位一体特质。他指出福音派的两个重点：基督一次而永远成就的事工，与圣灵活泼而持续的工作。 因此福音派人

士发现一定要作三个重要的见证：天父上帝施恩，主动向我们启示他自己；耶稣基督藉着十字架救赎我们；内住的圣灵不断改变我们。这也

是为什么福音派信仰强调：道(圣经)、十字架和圣灵，再没有其他因素比这三者更重要。",
            media: "http://www.aishen360.com/files/book/cover/4/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412119468" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396685146" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book4";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="4"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>