

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content=" 一九九八年最困扰美国政府的，莫过于克林顿的性丑闻了。自从他在大陪审团及独立调查员面前坦承了自已与莱温斯基有不恰当的关系之后，他已将自已的政治生涯及家庭悬于一线。人种的是什么，收的也是什么。克林顿政府在道德上一向放纵和放任：包庇同性恋、堕胎合法化，美国人可以不停制作色情电影和电脑纲页。克林顿一直不正面处理自己的性欲，今次名声受创，明显是自讨苦吃。

    随着科技的日新月异，再加上大众传媒无孔不入，商业、金融的国际化和企业化，计算机互联及国际网络已成为今日各行各业的必需品，不法之徒亦趁机用高科技宣传色情、赌博和各种卑污勾当。妓女及色情场所透过国际网络大卖其广告，有人甚至将制造原子弹的方程式放在国际网络中。透过新闻及资讯自由的口号，一向在道德方面比较保守的回教国家或共产国家已全线崩溃，向色情文化、婚前性行为、婚外情、非法移植人体器官、试管婴儿及基因工程等俯首称臣。踏入廿一世纪，信徒所面对的道德抉择及生活上的试探冲激，是前所未有过的。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/kuashijilunliditu.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content=" 一九九八年最困扰美国政府的，莫过于克林顿的性丑闻了。自从他在大陪审团及独立调查员面前坦承了自已与莱温斯基有不恰当的关系之后，他已将自已的政治生涯及家庭悬于一线。人种的是什么，收的也是什么。克林顿政府在道德上一向放纵和放任：包庇同性恋、堕胎合法化，美国人可以不停制作色情电影和电脑纲页。克林顿一直不正面处理自己的性欲，今次名声受创，明显是自讨苦吃。

    随着科技的日新月异，再加上大众传媒无孔不入，商业、金融的国际化和企业化，计算机互联及国际网络已成为今日各行各业的必需品，不法之徒亦趁机用高科技宣传色情、赌博和各种卑污勾当。妓女及色情场所透过国际网络大卖其广告，有人甚至将制造原子弹的方程式放在国际网络中。透过新闻及资讯自由的口号，一向在道德方面比较保守的回教国家或共产国家已全线崩溃，向色情文化、婚前性行为、婚外情、非法移植人体器官、试管婴儿及基因工程等俯首称臣。踏入廿一世纪，信徒所面对的道德抉择及生活上的试探冲激，是前所未有过的。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/587/cover.jpg"/>
<meta property="og:novel:category" content="婚姻家庭"/>
<meta property="og:novel:author" content="苏颖智"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/kuashijilunliditu.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/kuashijilunliditu.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Fri Jun 06 17:00:40 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="附录：神容许安乐死吗？"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/kuashijilunliditu/26041.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/kuashijilunliditu.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">跨世纪伦理地图</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/587/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/kuashijilunliditu.html",
            title: "_苏颖智",
            description: " 一九九八年最困扰美国政府的，莫过于克林顿的性丑闻了。自从他在大陪审团及独立调查员面前坦承了自已与莱温斯基有不恰当的关系之后，他已将自已的政治生涯及家庭悬于一线。人种的是什么，收的也是什么。克林顿政府在道德上一向放纵和放任：包庇同性恋、堕胎合法化，美国人可以不停制作色情电影和电脑纲页。克林顿一直不正面处理自己的性欲，今次名声受创，明显是自讨苦吃。

    随着科技的日新月异，再加上大众传媒无孔不入，商业、金融的国际化和企业化，计算机互联及国际网络已成为今日各行各业的必需品，不法之徒亦趁机用高科技宣传色情、赌博和各种卑污勾当。妓女及色情场所透过国际网络大卖其广告，有人甚至将制造原子弹的方程式放在国际网络中。透过新闻及资讯自由的口号，一向在道德方面比较保守的回教国家或共产国家已全线崩溃，向色情文化、婚前性行为、婚外情、非法移植人体器官、试管婴儿及基因工程等俯首称臣。踏入廿一世纪，信徒所面对的道德抉择及生活上的试探冲激，是前所未有过的。",
            media: "http://www.aishen360.com/files/book/cover/587/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412138879" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396693610" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book587";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="587"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>