

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="这是一本关于成圣的讲道集：
成圣的重要——宾客（Arthur W. Pink, 1886-1952）
成圣的定义——屋大维·温斯洛（Octavius Winslow, 1808-1878 ）
成圣的本质——莱尔（J. C. Ryle, 1816-1900）
基督与成圣——屋大维·温斯洛（Octavius Winslow, 1808-1878 ）
绝对成圣与渐进成圣——约翰·穆雷（John Murray, 1898-1975）
治死罪与向义活——宾客（Arthur W. Pink, 1886-1952）
成圣的动机——亚伯拉罕·布思（Abraham Booth, 1734-1806）
称义与成圣——宾客（Arthur W. Pink, 1886-1952）
小事上的成圣——波拿尔（Horatius Bonar, 1808-1889）
让我们发出光来——波拿尔（Horatius Bonar, 1808-1889）" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/chengsheng.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="成圣 -- 白白恩典播报 第 215 期"/>
<meta property="og:description" content="这是一本关于成圣的讲道集：
成圣的重要——宾客（Arthur W. Pink, 1886-1952）
成圣的定义——屋大维·温斯洛（Octavius Winslow, 1808-1878 ）
成圣的本质——莱尔（J. C. Ryle, 1816-1900）
基督与成圣——屋大维·温斯洛（Octavius Winslow, 1808-1878 ）
绝对成圣与渐进成圣——约翰·穆雷（John Murray, 1898-1975）
治死罪与向义活——宾客（Arthur W. Pink, 1886-1952）
成圣的动机——亚伯拉罕·布思（Abraham Booth, 1734-1806）
称义与成圣——宾客（Arthur W. Pink, 1886-1952）
小事上的成圣——波拿尔（Horatius Bonar, 1808-1889）
让我们发出光来——波拿尔（Horatius Bonar, 1808-1889）"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/38138/cover.jpg"/>
<meta property="og:novel:category" content="期刊杂志"/>
<meta property="og:novel:author" content="乔兰山以妲"/>
<meta property="og:novel:book_name" content="成圣 -- 白白恩典播报 第 215 期"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/chengsheng.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/chengsheng.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Tue Apr 16 16:39:48 CST 2019"/>
<meta property="og:novel:latest_chapter_name" content="第十篇 让我们发出光来！ 波拿尔（Horatius Bonar, 1808-1889）"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/chengsheng/6476126.html"/>
<title>成圣 -- 白白恩典播报 第 215 期_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/chengsheng.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">成圣</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/38138/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/chengsheng.html",
            title: "成圣 -- 白白恩典播报 第 215 期_乔兰山以妲",
            description: "这是一本关于成圣的讲道集：
成圣的重要——宾客（Arthur W. Pink, 1886-1952）
成圣的定义——屋大维·温斯洛（Octavius Winslow, 1808-1878 ）
成圣的本质——莱尔（J. C. Ryle, 1816-1900）
基督与成圣——屋大维·温斯洛（Octavius Winslow, 1808-1878 ）
绝对成圣与渐进成圣——约翰·穆雷（John Murray, 1898-1975）
治死罪与向义活——宾客（Arthur W. Pink, 1886-1952）
成圣的动机——亚伯拉罕·布思（Abraham Booth, 1734-1806）
称义与成圣——宾客（Arthur W. Pink, 1886-1952）
小事上的成圣——波拿尔（Horatius Bonar, 1808-1889）
让我们发出光来——波拿尔（Horatius Bonar, 1808-1889）",
            media: "http://www.aishen360.com/files/book/cover/38138/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412162072" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396705146" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book38138";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="38138"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>