

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="本书是笔者在讲台事奉中的一部分讲道提纲，整理后成为短篇讲章，每篇约七百字，取名《与你分享》。

　　全书共有103篇，按内容分为五个部分，第一部分为人物篇，主要是谈圣经人物，从他们身上得教训。第二部分为解经篇，从一节经文或者一段经文进行分析。第三部分为串珠篇，把圣经中某个重要的字和词进行串联，例如圣经里提到\&#034;诚实\&#034;一词，串联起来就可以知道\&#034;在行为上要诚实\&#034;，\&#034;在言语上要诚实\&#034;，\&#034;敬拜神要诚实\&#034;。第四部分为查经篇，从一章圣经或者从一卷书里面查考，例如马太福音第五章耶稣登山宝训论\&#034;八福\&#034;，又如约翰福音耶稣说了七个\&#034;我是\&#034;等。第五部分为节期篇，除了教会重要节期的讲章以外，还有国庆节，敬老节，儿童节，母亲节，春节的讲章，另外还加一篇证婚讲章。

　　这些讲章是本人在读经，讲道时的点滴领受，如果对同工同道在讲台工作和查经方面有那么一点参考价值的话，也是主的怜悯，愿荣耀归给他。
" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/yunifenxiang.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="本书是笔者在讲台事奉中的一部分讲道提纲，整理后成为短篇讲章，每篇约七百字，取名《与你分享》。

　　全书共有103篇，按内容分为五个部分，第一部分为人物篇，主要是谈圣经人物，从他们身上得教训。第二部分为解经篇，从一节经文或者一段经文进行分析。第三部分为串珠篇，把圣经中某个重要的字和词进行串联，例如圣经里提到\&#034;诚实\&#034;一词，串联起来就可以知道\&#034;在行为上要诚实\&#034;，\&#034;在言语上要诚实\&#034;，\&#034;敬拜神要诚实\&#034;。第四部分为查经篇，从一章圣经或者从一卷书里面查考，例如马太福音第五章耶稣登山宝训论\&#034;八福\&#034;，又如约翰福音耶稣说了七个\&#034;我是\&#034;等。第五部分为节期篇，除了教会重要节期的讲章以外，还有国庆节，敬老节，儿童节，母亲节，春节的讲章，另外还加一篇证婚讲章。

　　这些讲章是本人在读经，讲道时的点滴领受，如果对同工同道在讲台工作和查经方面有那么一点参考价值的话，也是主的怜悯，愿荣耀归给他。
"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/330/cover.jpg"/>
<meta property="og:novel:category" content="灵修书籍"/>
<meta property="og:novel:author" content="谢炳国"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/yunifenxiang.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/yunifenxiang.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Tue Jan 21 13:44:43 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="帖撒罗尼迦后书的三个中间"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/yunifenxiang/14475.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/yunifenxiang.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">与你分享</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/330/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/yunifenxiang.html",
            title: "_谢炳国",
            description: "本书是笔者在讲台事奉中的一部分讲道提纲，整理后成为短篇讲章，每篇约七百字，取名《与你分享》。

　　全书共有103篇，按内容分为五个部分，第一部分为人物篇，主要是谈圣经人物，从他们身上得教训。第二部分为解经篇，从一节经文或者一段经文进行分析。第三部分为串珠篇，把圣经中某个重要的字和词进行串联，例如圣经里提到\&#034;诚实\&#034;一词，串联起来就可以知道\&#034;在行为上要诚实\&#034;，\&#034;在言语上要诚实\&#034;，\&#034;敬拜神要诚实\&#034;。第四部分为查经篇，从一章圣经或者从一卷书里面查考，例如马太福音第五章耶稣登山宝训论\&#034;八福\&#034;，又如约翰福音耶稣说了七个\&#034;我是\&#034;等。第五部分为节期篇，除了教会重要节期的讲章以外，还有国庆节，敬老节，儿童节，母亲节，春节的讲章，另外还加一篇证婚讲章。

　　这些讲章是本人在读经，讲道时的点滴领受，如果对同工同道在讲台工作和查经方面有那么一点参考价值的话，也是主的怜悯，愿荣耀归给他。
",
            media: "http://www.aishen360.com/files/book/cover/330/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412130247" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396692919" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book330";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="330"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>