

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="性是上帝赐给人类最美好的礼物，在婚姻中享受它，是圣洁无瑕的，也是人类赖以繁衍生息的媒介。但今天的社会和文化一方面谈性色变，一方面又沉迷放纵，宗教界在性这个话题上更是保持沉默，整个世界都在沉默中默许、纵容着衣冠楚楚的性犯罪。
       作者迈克尔·珀尔将带领读者探寻西方经典《雅歌》中所描写的新鲜的纯情之旅，以圣洁的眼光看待性带来的强大的激情体验，将读者从之前错误的性意识和错误的性压抑，甚至视之为性负罪感的心灵深处释放出来。作者说：“到了让所有夫妻重拾、明白并享受这份圣洁礼物的时候了。”" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/haiwoyidianfangrong.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="性是上帝赐给人类最美好的礼物，在婚姻中享受它，是圣洁无瑕的，也是人类赖以繁衍生息的媒介。但今天的社会和文化一方面谈性色变，一方面又沉迷放纵，宗教界在性这个话题上更是保持沉默，整个世界都在沉默中默许、纵容着衣冠楚楚的性犯罪。
       作者迈克尔·珀尔将带领读者探寻西方经典《雅歌》中所描写的新鲜的纯情之旅，以圣洁的眼光看待性带来的强大的激情体验，将读者从之前错误的性意识和错误的性压抑，甚至视之为性负罪感的心灵深处释放出来。作者说：“到了让所有夫妻重拾、明白并享受这份圣洁礼物的时候了。”"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/440/cover.jpg"/>
<meta property="og:novel:category" content="婚姻家庭"/>
<meta property="og:novel:author" content="迈克尔·珀尔"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/haiwoyidianfangrong.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/haiwoyidianfangrong.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Fri Mar 07 20:16:36 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="《腓立比书》2章3-8节"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/haiwoyidianfangrong/19405.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/haiwoyidianfangrong.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">还我伊甸芳容：神圣的性</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/440/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/haiwoyidianfangrong.html",
            title: "_迈克尔·珀尔",
            description: "性是上帝赐给人类最美好的礼物，在婚姻中享受它，是圣洁无瑕的，也是人类赖以繁衍生息的媒介。但今天的社会和文化一方面谈性色变，一方面又沉迷放纵，宗教界在性这个话题上更是保持沉默，整个世界都在沉默中默许、纵容着衣冠楚楚的性犯罪。
       作者迈克尔·珀尔将带领读者探寻西方经典《雅歌》中所描写的新鲜的纯情之旅，以圣洁的眼光看待性带来的强大的激情体验，将读者从之前错误的性意识和错误的性压抑，甚至视之为性负罪感的心灵深处释放出来。作者说：“到了让所有夫妻重拾、明白并享受这份圣洁礼物的时候了。”",
            media: "http://www.aishen360.com/files/book/cover/440/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412133570" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396684674" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book440";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="440"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>