

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content=" 受洗成为基督徒之后，我常发出的祷告词中最多的是：「耶稣救我！」当我这样呼求时，并不是正身临险恶的环境或紧迫的情势，通常只是一种感知，当我面对某个人或某件事时，那无可言喻的寂寞、悲凄、慌忙的感觉就浮上来，如影随形般地甩脱不掉，我也因此而泪流满面却不知如何是好，只能如溺水将窒息而死的人一般，从内心发出向主的呼求。

    　　而耶稣也每一次皆按着祂自己的信实立即救我，使我今日不但脱离那如捆锁般的黑暗权势，得着释放的医治，并且能与身边的人们分享耶稣的奇妙作为。但愿透过书中所提的每一个见证分享，那感动我的灵也同样动工感动在您的里面，使您也能经历「今天这经应验在你们耳中了。」(路四：21)的喜乐与满足。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/neizaiyizhi.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content=" 受洗成为基督徒之后，我常发出的祷告词中最多的是：「耶稣救我！」当我这样呼求时，并不是正身临险恶的环境或紧迫的情势，通常只是一种感知，当我面对某个人或某件事时，那无可言喻的寂寞、悲凄、慌忙的感觉就浮上来，如影随形般地甩脱不掉，我也因此而泪流满面却不知如何是好，只能如溺水将窒息而死的人一般，从内心发出向主的呼求。

    　　而耶稣也每一次皆按着祂自己的信实立即救我，使我今日不但脱离那如捆锁般的黑暗权势，得着释放的医治，并且能与身边的人们分享耶稣的奇妙作为。但愿透过书中所提的每一个见证分享，那感动我的灵也同样动工感动在您的里面，使您也能经历「今天这经应验在你们耳中了。」(路四：21)的喜乐与满足。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/568/cover.jpg"/>
<meta property="og:novel:category" content="婚姻家庭"/>
<meta property="og:novel:author" content="吴维杰"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/neizaiyizhi.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/neizaiyizhi.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Mon May 19 12:55:36 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="9.正视内里的问题"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/neizaiyizhi/25750.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/neizaiyizhi.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">你可以自己进行内在医治</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/568/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/neizaiyizhi.html",
            title: "_吴维杰",
            description: " 受洗成为基督徒之后，我常发出的祷告词中最多的是：「耶稣救我！」当我这样呼求时，并不是正身临险恶的环境或紧迫的情势，通常只是一种感知，当我面对某个人或某件事时，那无可言喻的寂寞、悲凄、慌忙的感觉就浮上来，如影随形般地甩脱不掉，我也因此而泪流满面却不知如何是好，只能如溺水将窒息而死的人一般，从内心发出向主的呼求。

    　　而耶稣也每一次皆按着祂自己的信实立即救我，使我今日不但脱离那如捆锁般的黑暗权势，得着释放的医治，并且能与身边的人们分享耶稣的奇妙作为。但愿透过书中所提的每一个见证分享，那感动我的灵也同样动工感动在您的里面，使您也能经历「今天这经应验在你们耳中了。」(路四：21)的喜乐与满足。",
            media: "http://www.aishen360.com/files/book/cover/568/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412138743" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396693570" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book568";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="568"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>