

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="今天教会中的许多人对他们的救恩心存疑虑。然而，基督徒不仅有可能确信他们得救；而且确保他们的呼召和拣选是他们的责任（彼得后书1:10）。
那么我们如何能确定地知道我们的信仰告白是出自真正的救赎恩典呢？这个问题极其重要，因为它触及我们作为基督徒的核心，对我们作为基督徒的感受、安慰和行为都具有极大影响。
在这本小册子中，史普罗博士试图帮助信徒来达成这个目标。在这些简短易懂的章节中，史普罗博士定义了得救的确据，展示了我们如何获得它，揭示了它带来的祝福，以及警告错误的确据带来的危险。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/wonengquerenwodedejiuma.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="今天教会中的许多人对他们的救恩心存疑虑。然而，基督徒不仅有可能确信他们得救；而且确保他们的呼召和拣选是他们的责任（彼得后书1:10）。
那么我们如何能确定地知道我们的信仰告白是出自真正的救赎恩典呢？这个问题极其重要，因为它触及我们作为基督徒的核心，对我们作为基督徒的感受、安慰和行为都具有极大影响。
在这本小册子中，史普罗博士试图帮助信徒来达成这个目标。在这些简短易懂的章节中，史普罗博士定义了得救的确据，展示了我们如何获得它，揭示了它带来的祝福，以及警告错误的确据带来的危险。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/38463/cover.jpg"/>
<meta property="og:novel:category" content="灵修书籍"/>
<meta property="og:novel:author" content="史普罗"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/wonengquerenwodedejiuma.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/wonengquerenwodedejiuma.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Fri Apr 26 14:21:24 CST 2019"/>
<meta property="og:novel:latest_chapter_name" content="第四章 获得真正确据"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/wonengquerenwodedejiuma/6501189.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/wonengquerenwodedejiuma.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">我能确认我的得救吗？</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/38463/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/wonengquerenwodedejiuma.html",
            title: "_史普罗",
            description: "今天教会中的许多人对他们的救恩心存疑虑。然而，基督徒不仅有可能确信他们得救；而且确保他们的呼召和拣选是他们的责任（彼得后书1:10）。
那么我们如何能确定地知道我们的信仰告白是出自真正的救赎恩典呢？这个问题极其重要，因为它触及我们作为基督徒的核心，对我们作为基督徒的感受、安慰和行为都具有极大影响。
在这本小册子中，史普罗博士试图帮助信徒来达成这个目标。在这些简短易懂的章节中，史普罗博士定义了得救的确据，展示了我们如何获得它，揭示了它带来的祝福，以及警告错误的确据带来的危险。",
            media: "http://www.aishen360.com/files/book/cover/38463/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412162084" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396705167" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book38463";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="38463"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>