

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="如果你说“人无完人”，很可能每个人都会同意你的观点。罪恶感是很常见的。一个人可能会忽视他们的罪恶感，将其合理化，或压抑，但它确实存在。它指出了一个事实——所有人在上帝面前都是客观地有罪的。
什么是罪咎？史普罗给出一个最简单的罪咎定义：罪咎就是一个人违背一条律法时所招致的。正是每个人类都知道罪咎为何物的证明，每一个人在他或她人生中的某个时刻，都会在某种程度上不得不处理罪咎问题。
那么，我们该如何对待我们的罪恶感呢?在这本小册子里，史普罗博士向我们展示了上帝是如何利用这些感觉来揭示我们真正的罪恶感的。史普罗博士接着指出了唯一的补救措施——上帝通过耶稣基督提供的宽恕。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/wogairuhechuliwodezuijiu.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="我该如何处理我的罪咎？"/>
<meta property="og:description" content="如果你说“人无完人”，很可能每个人都会同意你的观点。罪恶感是很常见的。一个人可能会忽视他们的罪恶感，将其合理化，或压抑，但它确实存在。它指出了一个事实——所有人在上帝面前都是客观地有罪的。
什么是罪咎？史普罗给出一个最简单的罪咎定义：罪咎就是一个人违背一条律法时所招致的。正是每个人类都知道罪咎为何物的证明，每一个人在他或她人生中的某个时刻，都会在某种程度上不得不处理罪咎问题。
那么，我们该如何对待我们的罪恶感呢?在这本小册子里，史普罗博士向我们展示了上帝是如何利用这些感觉来揭示我们真正的罪恶感的。史普罗博士接着指出了唯一的补救措施——上帝通过耶稣基督提供的宽恕。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/37307/cover.jpg"/>
<meta property="og:novel:category" content="教牧相关"/>
<meta property="og:novel:author" content="史普罗"/>
<meta property="og:novel:book_name" content="我该如何处理我的罪咎？"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/wogairuhechuliwodezuijiu.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/wogairuhechuliwodezuijiu.html"/>
<meta property="og:novel:status" content="已完结"/>
<meta property="og:novel:update_time" content="Thu Mar 28 15:24:37 CST 2019"/>
<meta property="og:novel:latest_chapter_name" content="作者简介"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/wogairuhechuliwodezuijiu/6418402.html"/>
<title>我该如何处理我的罪咎？_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/wogairuhechuliwodezuijiu.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">我该如何处理我的罪咎？</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/37307/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/wogairuhechuliwodezuijiu.html",
            title: "我该如何处理我的罪咎？_史普罗",
            description: "如果你说“人无完人”，很可能每个人都会同意你的观点。罪恶感是很常见的。一个人可能会忽视他们的罪恶感，将其合理化，或压抑，但它确实存在。它指出了一个事实——所有人在上帝面前都是客观地有罪的。
什么是罪咎？史普罗给出一个最简单的罪咎定义：罪咎就是一个人违背一条律法时所招致的。正是每个人类都知道罪咎为何物的证明，每一个人在他或她人生中的某个时刻，都会在某种程度上不得不处理罪咎问题。
那么，我们该如何对待我们的罪恶感呢?在这本小册子里，史普罗博士向我们展示了上帝是如何利用这些感觉来揭示我们真正的罪恶感的。史普罗博士接着指出了唯一的补救措施——上帝通过耶稣基督提供的宽恕。",
            media: "http://www.aishen360.com/files/book/cover/37307/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412162043" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396705094" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book37307";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="37307"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>