

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="放在读者面前的是一本思考死亡和人生的书。

    提到死，人们大都采取回避的办法，死被看为一件最不吉利的事，因此，人们用许多别的词汇来代替提到死（好在中国文字很丰富，用以表达死亡的词据统计达数十个）。然而这只是一种掩耳盗铃式的态度，显出人们对死亡本能的恐惧。而死是一个与生俱来的事实，尤如一个人投下来的阴影挥之不去，死是那么普遍地存在，与每个人的命运又是那么密切相关。既然没法逃避，就应当有勇气去面对它。有一位着名的神学家对宗教下过这样一个定义：“宗教是人生的终极关怀。”人生有太多我们需要关注的对象，而死亡作为人生终极的问题，更需要人们给予真正的关注。托尔斯泰曾说过这样一句话，大意是；一个有深刻思想的人，不论他在想什么，他最终总是想到死的问题。因此，我们探索死亡之谜，正是对人生积极而又负责的思考。
" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/kuayuesiwang.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="放在读者面前的是一本思考死亡和人生的书。

    提到死，人们大都采取回避的办法，死被看为一件最不吉利的事，因此，人们用许多别的词汇来代替提到死（好在中国文字很丰富，用以表达死亡的词据统计达数十个）。然而这只是一种掩耳盗铃式的态度，显出人们对死亡本能的恐惧。而死是一个与生俱来的事实，尤如一个人投下来的阴影挥之不去，死是那么普遍地存在，与每个人的命运又是那么密切相关。既然没法逃避，就应当有勇气去面对它。有一位着名的神学家对宗教下过这样一个定义：“宗教是人生的终极关怀。”人生有太多我们需要关注的对象，而死亡作为人生终极的问题，更需要人们给予真正的关注。托尔斯泰曾说过这样一句话，大意是；一个有深刻思想的人，不论他在想什么，他最终总是想到死的问题。因此，我们探索死亡之谜，正是对人生积极而又负责的思考。
"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/746/cover.jpg"/>
<meta property="og:novel:category" content="福音真理"/>
<meta property="og:novel:author" content="计文"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/kuayuesiwang.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/kuayuesiwang.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Tue Dec 30 14:19:03 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="［附篇] 这到底是谁？"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/kuayuesiwang/31241.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/kuayuesiwang.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">跨越死亡</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/746/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/kuayuesiwang.html",
            title: "_计文",
            description: "放在读者面前的是一本思考死亡和人生的书。

    提到死，人们大都采取回避的办法，死被看为一件最不吉利的事，因此，人们用许多别的词汇来代替提到死（好在中国文字很丰富，用以表达死亡的词据统计达数十个）。然而这只是一种掩耳盗铃式的态度，显出人们对死亡本能的恐惧。而死是一个与生俱来的事实，尤如一个人投下来的阴影挥之不去，死是那么普遍地存在，与每个人的命运又是那么密切相关。既然没法逃避，就应当有勇气去面对它。有一位着名的神学家对宗教下过这样一个定义：“宗教是人生的终极关怀。”人生有太多我们需要关注的对象，而死亡作为人生终极的问题，更需要人们给予真正的关注。托尔斯泰曾说过这样一句话，大意是；一个有深刻思想的人，不论他在想什么，他最终总是想到死的问题。因此，我们探索死亡之谜，正是对人生积极而又负责的思考。
",
            media: "http://www.aishen360.com/files/book/cover/746/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412142161" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396694180" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book746";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="746"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>