

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="人死后，将会有生命吗？
    这个的问题，在今日华人社会中，也渐渐成为热门的话题。
    书内集结多个在面对死亡时所遇上各类问题的处境个案，使人能设身处地般，深入思考一些问题，包括：
    死亡是否已解禁？为什么有些人早逝呢？生死的选择？你的家已安排妥当吗？死后往何处去？信徒死亡的益处……等等有待探索的问题。
    在本书的字里行间，充满着同情、关怀与希望。
    作者邀请你一起探讨这个人人都须要面对的问题。
    你愿意吗？" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/how-to-face-death.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="人死后，将会有生命吗？
    这个的问题，在今日华人社会中，也渐渐成为热门的话题。
    书内集结多个在面对死亡时所遇上各类问题的处境个案，使人能设身处地般，深入思考一些问题，包括：
    死亡是否已解禁？为什么有些人早逝呢？生死的选择？你的家已安排妥当吗？死后往何处去？信徒死亡的益处……等等有待探索的问题。
    在本书的字里行间，充满着同情、关怀与希望。
    作者邀请你一起探讨这个人人都须要面对的问题。
    你愿意吗？"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/90/cover.jpg"/>
<meta property="og:novel:category" content="文化思考"/>
<meta property="og:novel:author" content="葛培理"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/how-to-face-death.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/how-to-face-death.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Mon Aug 19 10:20:17 CST 2013"/>
<meta property="og:novel:latest_chapter_name" content="结 语"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/how-to-face-death/3376.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/how-to-face-death.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">如何面对死亡</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/90/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/how-to-face-death.html",
            title: "_葛培理",
            description: "人死后，将会有生命吗？
    这个的问题，在今日华人社会中，也渐渐成为热门的话题。
    书内集结多个在面对死亡时所遇上各类问题的处境个案，使人能设身处地般，深入思考一些问题，包括：
    死亡是否已解禁？为什么有些人早逝呢？生死的选择？你的家已安排妥当吗？死后往何处去？信徒死亡的益处……等等有待探索的问题。
    在本书的字里行间，充满着同情、关怀与希望。
    作者邀请你一起探讨这个人人都须要面对的问题。
    你愿意吗？",
            media: "http://www.aishen360.com/files/book/cover/90/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412122555" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396692052" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book90";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="90"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>