

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content=" 20个释经、解经必须注意与掌握的原则。
在释经学的导论里我们要介绍「释经学的重要性」，「释经学的字义」以及「释经学的定义」。

    首先我们来谈「释经学的重要性」，圣经提摩太后书二章十五节说：「你当竭力，在神面前得蒙喜悦，作无愧的工人，按着正意分解真理的道。」按“正义”，换句话说就不是按着私意，是把圣经的真意吸出来，而不是把自己的私意注入圣经里面。经常有人在查经班查考圣经的时候会说：“我想是这样”，“我想是那样”。在查考圣经的时候，人想的不算数，重要的圣经说什么？圣经怎么说？有两个英文字可以帮助我们比较出正确解释圣经的真意。这两个英文字都是“解经”，第一个是“eisegesis”，前缀的“eis”是由其次希腊文来的，是“注入”的意思，就是把自己的意思注入圣经，是圣经原来所没有的；我们称之为“私意解经”。另外一个英文字则是“exegesis”，前缀的“ex”也是由希腊文来的，意思是“出来”；也就是把圣经的意思吸出来，按着原意解释，求得经文的真正意义。而把圣经作者的原意，真正的意思吸出来，这才是解释圣经的正确方法。因此释经学的重要性就是“帮助我们依据一些原则来规范我们正确的解释圣经”。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/shijingxueyuanze.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content="释经学原则"/>
<meta property="og:description" content=" 20个释经、解经必须注意与掌握的原则。
在释经学的导论里我们要介绍「释经学的重要性」，「释经学的字义」以及「释经学的定义」。

    首先我们来谈「释经学的重要性」，圣经提摩太后书二章十五节说：「你当竭力，在神面前得蒙喜悦，作无愧的工人，按着正意分解真理的道。」按“正义”，换句话说就不是按着私意，是把圣经的真意吸出来，而不是把自己的私意注入圣经里面。经常有人在查经班查考圣经的时候会说：“我想是这样”，“我想是那样”。在查考圣经的时候，人想的不算数，重要的圣经说什么？圣经怎么说？有两个英文字可以帮助我们比较出正确解释圣经的真意。这两个英文字都是“解经”，第一个是“eisegesis”，前缀的“eis”是由其次希腊文来的，是“注入”的意思，就是把自己的意思注入圣经，是圣经原来所没有的；我们称之为“私意解经”。另外一个英文字则是“exegesis”，前缀的“ex”也是由希腊文来的，意思是“出来”；也就是把圣经的意思吸出来，按着原意解释，求得经文的真正意义。而把圣经作者的原意，真正的意思吸出来，这才是解释圣经的正确方法。因此释经学的重要性就是“帮助我们依据一些原则来规范我们正确的解释圣经”。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/615/cover.jpg"/>
<meta property="og:novel:category" content="研经注释"/>
<meta property="og:novel:author" content="林道亮"/>
<meta property="og:novel:book_name" content="释经学原则"/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/shijingxueyuanze.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/shijingxueyuanze.html"/>
<meta property="og:novel:status" content="已完结"/>
<meta property="og:novel:update_time" content="Mon Jul 07 12:39:50 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="第八课"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/shijingxueyuanze/26963.html"/>
<title>释经学原则_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/shijingxueyuanze.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">释经学原则</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/615/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/shijingxueyuanze.html",
            title: "释经学原则_林道亮",
            description: " 20个释经、解经必须注意与掌握的原则。
在释经学的导论里我们要介绍「释经学的重要性」，「释经学的字义」以及「释经学的定义」。

    首先我们来谈「释经学的重要性」，圣经提摩太后书二章十五节说：「你当竭力，在神面前得蒙喜悦，作无愧的工人，按着正意分解真理的道。」按“正义”，换句话说就不是按着私意，是把圣经的真意吸出来，而不是把自己的私意注入圣经里面。经常有人在查经班查考圣经的时候会说：“我想是这样”，“我想是那样”。在查考圣经的时候，人想的不算数，重要的圣经说什么？圣经怎么说？有两个英文字可以帮助我们比较出正确解释圣经的真意。这两个英文字都是“解经”，第一个是“eisegesis”，前缀的“eis”是由其次希腊文来的，是“注入”的意思，就是把自己的意思注入圣经，是圣经原来所没有的；我们称之为“私意解经”。另外一个英文字则是“exegesis”，前缀的“ex”也是由希腊文来的，意思是“出来”；也就是把圣经的意思吸出来，按着原意解释，求得经文的真正意义。而把圣经作者的原意，真正的意思吸出来，这才是解释圣经的正确方法。因此释经学的重要性就是“帮助我们依据一些原则来规范我们正确的解释圣经”。",
            media: "http://www.aishen360.com/files/book/cover/615/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412139241" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396693696" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book615";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="615"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>