

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="基督徒理所当然的事奉
    这部著作探讨了关于
    恩典之约
    的属天真理，驳斥了异议者，并且呼吁要把这些真理以及新旧约圣经中有关此约履行的教导付诸于实践
    原著者：
    荷兰鹿特丹福音的仆人
    威莱姆斯．布雷克博士（Wilhelmus慳Brakel,Th.F.）
费赖特博士(Dr.W.Fieret)一、青年时代和所受教育二、关于侍奉职分的看法
    三、讲道四、在弗里斯兰牧会五、在鹿特丹牧会
    一、青年时代和所受教育布雷克的全名是威莱姆斯·阿·布雷克（WilhelmusaBrakel），他在1635年1月2日生于荷兰的利瓦尔顿镇（Leeuwarden）。他父亲名叫西奥多斯·阿·布雷克（TheodorusaBrakel），母亲是玛格丽萨·霍玛（MargarethaHomma），二人生有六个孩子，而威莱姆斯·阿·布雷克则是其中惟一的男孩。很显然，从很小的时候起，在年幼的威莱姆斯身上，就已经看出他对耶和华上帝的敬畏，这给他父母带来巨大的喜乐、惊奇和感激。后来，他经常被人拿来与俄巴底相比。俄巴底靠着上帝的恩典，曾经能够很荣幸地说：“仆人却是自幼敬畏耶和华的”（王上18：12）。后来，布雷克说，他知道在他生命中没有任何变化。他记得自己从很小的时候开始，就对自己的救主耶稣基督充满挚爱之心。他父亲西奥多斯·阿·布雷克的圣诞节证道，给小布雷克留下了深刻的印象。耶稣来到世上拯救罪人，圣诞节记念这一事实，极大地感染了他，他不止一次地问：“父亲，什么时候再过圣诞节？”" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/serve-of-christians.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="基督徒理所当然的事奉
    这部著作探讨了关于
    恩典之约
    的属天真理，驳斥了异议者，并且呼吁要把这些真理以及新旧约圣经中有关此约履行的教导付诸于实践
    原著者：
    荷兰鹿特丹福音的仆人
    威莱姆斯．布雷克博士（Wilhelmus慳Brakel,Th.F.）
费赖特博士(Dr.W.Fieret)一、青年时代和所受教育二、关于侍奉职分的看法
    三、讲道四、在弗里斯兰牧会五、在鹿特丹牧会
    一、青年时代和所受教育布雷克的全名是威莱姆斯·阿·布雷克（WilhelmusaBrakel），他在1635年1月2日生于荷兰的利瓦尔顿镇（Leeuwarden）。他父亲名叫西奥多斯·阿·布雷克（TheodorusaBrakel），母亲是玛格丽萨·霍玛（MargarethaHomma），二人生有六个孩子，而威莱姆斯·阿·布雷克则是其中惟一的男孩。很显然，从很小的时候起，在年幼的威莱姆斯身上，就已经看出他对耶和华上帝的敬畏，这给他父母带来巨大的喜乐、惊奇和感激。后来，他经常被人拿来与俄巴底相比。俄巴底靠着上帝的恩典，曾经能够很荣幸地说：“仆人却是自幼敬畏耶和华的”（王上18：12）。后来，布雷克说，他知道在他生命中没有任何变化。他记得自己从很小的时候开始，就对自己的救主耶稣基督充满挚爱之心。他父亲西奥多斯·阿·布雷克的圣诞节证道，给小布雷克留下了深刻的印象。耶稣来到世上拯救罪人，圣诞节记念这一事实，极大地感染了他，他不止一次地问：“父亲，什么时候再过圣诞节？”"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/327/cover.jpg"/>
<meta property="og:novel:category" content="灵修书籍"/>
<meta property="og:novel:author" content="布雷克"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/serve-of-christians.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/serve-of-christians.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Thu Jun 23 10:04:12 CST 2016"/>
<meta property="og:novel:latest_chapter_name" content="第二十三章 基督的升高"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/serve-of-christians/14352.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/serve-of-christians.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">基督徒理所当然的侍奉</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/327/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/serve-of-christians.html",
            title: "_布雷克",
            description: "基督徒理所当然的事奉
    这部著作探讨了关于
    恩典之约
    的属天真理，驳斥了异议者，并且呼吁要把这些真理以及新旧约圣经中有关此约履行的教导付诸于实践
    原著者：
    荷兰鹿特丹福音的仆人
    威莱姆斯．布雷克博士（Wilhelmus慳Brakel,Th.F.）
费赖特博士(Dr.W.Fieret)一、青年时代和所受教育二、关于侍奉职分的看法
    三、讲道四、在弗里斯兰牧会五、在鹿特丹牧会
    一、青年时代和所受教育布雷克的全名是威莱姆斯·阿·布雷克（WilhelmusaBrakel），他在1635年1月2日生于荷兰的利瓦尔顿镇（Leeuwarden）。他父亲名叫西奥多斯·阿·布雷克（TheodorusaBrakel），母亲是玛格丽萨·霍玛（MargarethaHomma），二人生有六个孩子，而威莱姆斯·阿·布雷克则是其中惟一的男孩。很显然，从很小的时候起，在年幼的威莱姆斯身上，就已经看出他对耶和华上帝的敬畏，这给他父母带来巨大的喜乐、惊奇和感激。后来，他经常被人拿来与俄巴底相比。俄巴底靠着上帝的恩典，曾经能够很荣幸地说：“仆人却是自幼敬畏耶和华的”（王上18：12）。后来，布雷克说，他知道在他生命中没有任何变化。他记得自己从很小的时候开始，就对自己的救主耶稣基督充满挚爱之心。他父亲西奥多斯·阿·布雷克的圣诞节证道，给小布雷克留下了深刻的印象。耶稣来到世上拯救罪人，圣诞节记念这一事实，极大地感染了他，他不止一次地问：“父亲，什么时候再过圣诞节？”",
            media: "http://www.aishen360.com/files/book/cover/327/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412130198" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396029145" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book327";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="327"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>