

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="20世纪被描述为人类最光明、最幸福的时代。但从另一面来看，我们完全可以说20世纪是人类历史中最悲惨、最丑恶的时代。两次世界大战以来直到今天，仍有三分之一的国家在战火的蹂躏与威胁中；在人类历史上从未有过像20世纪的100年里发生那么多，那么严重的彼此残杀事件！
       第一次世界大战的死亡人数约1千万人，第二次大战则超过3千万以上；二次大战后至今，发生在世界各地的大小战事而造成的死亡人数已不下一次大战的死亡人数了。
       我们完全可以断定在20世纪里，因&#034;人祸&#034;而死的数目是过去任何时代都不能相比的！〈时代〉所论的20世纪三大功绩，对人类的幸福到底有否贡献还有待商榷！" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/moshiyuyan.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="20世纪被描述为人类最光明、最幸福的时代。但从另一面来看，我们完全可以说20世纪是人类历史中最悲惨、最丑恶的时代。两次世界大战以来直到今天，仍有三分之一的国家在战火的蹂躏与威胁中；在人类历史上从未有过像20世纪的100年里发生那么多，那么严重的彼此残杀事件！
       第一次世界大战的死亡人数约1千万人，第二次大战则超过3千万以上；二次大战后至今，发生在世界各地的大小战事而造成的死亡人数已不下一次大战的死亡人数了。
       我们完全可以断定在20世纪里，因&#034;人祸&#034;而死的数目是过去任何时代都不能相比的！〈时代〉所论的20世纪三大功绩，对人类的幸福到底有否贡献还有待商榷！"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/282/cover.jpg"/>
<meta property="og:novel:category" content="文化思考"/>
<meta property="og:novel:author" content="杨钟禄"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/moshiyuyan.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/moshiyuyan.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Thu Jan 09 12:41:20 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="人类自我神化时代"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/moshiyuyan/11342.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/moshiyuyan.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">末世预言</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/282/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/moshiyuyan.html",
            title: "_杨钟禄",
            description: "20世纪被描述为人类最光明、最幸福的时代。但从另一面来看，我们完全可以说20世纪是人类历史中最悲惨、最丑恶的时代。两次世界大战以来直到今天，仍有三分之一的国家在战火的蹂躏与威胁中；在人类历史上从未有过像20世纪的100年里发生那么多，那么严重的彼此残杀事件！
       第一次世界大战的死亡人数约1千万人，第二次大战则超过3千万以上；二次大战后至今，发生在世界各地的大小战事而造成的死亡人数已不下一次大战的死亡人数了。
       我们完全可以断定在20世纪里，因&#034;人祸&#034;而死的数目是过去任何时代都不能相比的！〈时代〉所论的20世纪三大功绩，对人类的幸福到底有否贡献还有待商榷！",
            media: "http://www.aishen360.com/files/book/cover/282/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412129128" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396692762" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book282";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="282"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>