

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content=" 作者继震撼全球的《末日决战》、《末日的呼召》等书后，再次有一连串异象式经历，以充满真实与启示的方式道出末后教会所面对的情况，一幕幕教会与魔鬼的属灵争战正要为持续数千年的历史划上休止符，火把与宝剑成为胜利的关键！

    什麽是「火把」与「宝剑」┅┅？

    「火把」是主赐给乔纳一连串异象的开始┅┅

    「宝剑」是战争开始前主在异象中给他的武器┅┅

    本书延续了「未日决战」「末日的呼召」的信息，要我们为著那崇高的目的，过最富挑战性的一生。这个呼召不是为胆小的人，乃是为那些渴望活得像属神的真正武士，拒绝在我们所处世代之黑暗势力前遁逃之人。

    它的信息是为那些将来临世代的使者而写，他们愿意以勇气和决心，拥护真理、公义、公平的人；他们是以诺所预言，将在末世带著能力而来的人。这些人正被唤醒，认识自己的使命。" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/the-torch-and-the-sword.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content=" 作者继震撼全球的《末日决战》、《末日的呼召》等书后，再次有一连串异象式经历，以充满真实与启示的方式道出末后教会所面对的情况，一幕幕教会与魔鬼的属灵争战正要为持续数千年的历史划上休止符，火把与宝剑成为胜利的关键！

    什麽是「火把」与「宝剑」┅┅？

    「火把」是主赐给乔纳一连串异象的开始┅┅

    「宝剑」是战争开始前主在异象中给他的武器┅┅

    本书延续了「未日决战」「末日的呼召」的信息，要我们为著那崇高的目的，过最富挑战性的一生。这个呼召不是为胆小的人，乃是为那些渴望活得像属神的真正武士，拒绝在我们所处世代之黑暗势力前遁逃之人。

    它的信息是为那些将来临世代的使者而写，他们愿意以勇气和决心，拥护真理、公义、公平的人；他们是以诺所预言，将在末世带著能力而来的人。这些人正被唤醒，认识自己的使命。"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/366/cover.jpg"/>
<meta property="og:novel:category" content="灵修书籍"/>
<meta property="og:novel:author" content="雷克·乔纳"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/the-torch-and-the-sword.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/the-torch-and-the-sword.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Thu May 25 16:31:32 CST 2017"/>
<meta property="og:novel:latest_chapter_name" content="14、战争开始"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/the-torch-and-the-sword/17011.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/the-torch-and-the-sword.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">火把与宝剑</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/366/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/the-torch-and-the-sword.html",
            title: "_雷克·乔纳",
            description: " 作者继震撼全球的《末日决战》、《末日的呼召》等书后，再次有一连串异象式经历，以充满真实与启示的方式道出末后教会所面对的情况，一幕幕教会与魔鬼的属灵争战正要为持续数千年的历史划上休止符，火把与宝剑成为胜利的关键！

    什麽是「火把」与「宝剑」┅┅？

    「火把」是主赐给乔纳一连串异象的开始┅┅

    「宝剑」是战争开始前主在异象中给他的武器┅┅

    本书延续了「未日决战」「末日的呼召」的信息，要我们为著那崇高的目的，过最富挑战性的一生。这个呼召不是为胆小的人，乃是为那些渴望活得像属神的真正武士，拒绝在我们所处世代之黑暗势力前遁逃之人。

    它的信息是为那些将来临世代的使者而写，他们愿意以勇气和决心，拥护真理、公义、公平的人；他们是以诺所预言，将在末世带著能力而来的人。这些人正被唤醒，认识自己的使命。",
            media: "http://www.aishen360.com/files/book/cover/366/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412131348" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396693043" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book366";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="366"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>