

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="微言　著　

这是我写给一位老同学的信。五十年代初在校时，他是班上最进步的同学之一，曾一再在会上公开批判我的信仰，措词极尖锐。当时我不曾同他辩论，一因环境不允许，二因我觉得辩论无益，惟在事后照常以诚相待。毕业后各分东西，迄今未能重会，各自在生活上均历经沧桑。我赴美后他辗转得知我的去向，曾两度来信致意，并为他当年对我的批判致歉。时至今日，我深感有必要对他和所有其他同学较详细的谈谈我们的信仰，否则，势将成为深重的遗憾。当年的同学中有些人现已作古，再无相谈的机会，今后岂可一误而再误？故于工作之余抽暇完成此信，准备复印成册，陆续寄给联系得到的同学和朋友。这些同学好友，如今都是高级知识分子，有相当高的文化及学术水平，思想状况有其特点。所以，此信的内容不能不充分考虑这一思想及生活背景，而有所侧重。
" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/yixuekexuejiayanzhongdeshen.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="微言　著　

这是我写给一位老同学的信。五十年代初在校时，他是班上最进步的同学之一，曾一再在会上公开批判我的信仰，措词极尖锐。当时我不曾同他辩论，一因环境不允许，二因我觉得辩论无益，惟在事后照常以诚相待。毕业后各分东西，迄今未能重会，各自在生活上均历经沧桑。我赴美后他辗转得知我的去向，曾两度来信致意，并为他当年对我的批判致歉。时至今日，我深感有必要对他和所有其他同学较详细的谈谈我们的信仰，否则，势将成为深重的遗憾。当年的同学中有些人现已作古，再无相谈的机会，今后岂可一误而再误？故于工作之余抽暇完成此信，准备复印成册，陆续寄给联系得到的同学和朋友。这些同学好友，如今都是高级知识分子，有相当高的文化及学术水平，思想状况有其特点。所以，此信的内容不能不充分考虑这一思想及生活背景，而有所侧重。
"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/248/cover.jpg"/>
<meta property="og:novel:category" content="福音真理"/>
<meta property="og:novel:author" content="爱森阅读"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/yixuekexuejiayanzhongdeshen.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/yixuekexuejiayanzhongdeshen.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Fri Jan 10 17:32:04 CST 2014"/>
<meta property="og:novel:latest_chapter_name" content="引文注"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/yixuekexuejiayanzhongdeshen/7610.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/yixuekexuejiayanzhongdeshen.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">医学科学家眼中的神</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/248/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/yixuekexuejiayanzhongdeshen.html",
            title: "_爱森阅读",
            description: "微言　著　

这是我写给一位老同学的信。五十年代初在校时，他是班上最进步的同学之一，曾一再在会上公开批判我的信仰，措词极尖锐。当时我不曾同他辩论，一因环境不允许，二因我觉得辩论无益，惟在事后照常以诚相待。毕业后各分东西，迄今未能重会，各自在生活上均历经沧桑。我赴美后他辗转得知我的去向，曾两度来信致意，并为他当年对我的批判致歉。时至今日，我深感有必要对他和所有其他同学较详细的谈谈我们的信仰，否则，势将成为深重的遗憾。当年的同学中有些人现已作古，再无相谈的机会，今后岂可一误而再误？故于工作之余抽暇完成此信，准备复印成册，陆续寄给联系得到的同学和朋友。这些同学好友，如今都是高级知识分子，有相当高的文化及学术水平，思想状况有其特点。所以，此信的内容不能不充分考虑这一思想及生活背景，而有所侧重。
",
            media: "http://www.aishen360.com/files/book/cover/248/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-412128416" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-396692654" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book248";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="248"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>