

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="Description" content="什么是引起痛苦、战争、仇恨和不公平的原因？大多数所谓的「专家」声称,人
的问 题是无知、贫困或缺乏知足。他们坚持认为,如果人们都受到教育，收入
有保障，知足常乐，那么世界上的问题就能得以解决。然而，历史已经证明，
受过高等教育、经济富裕的人们和国家往往具有巨大的道德和社会问题。圣经
教导，人的问题比这更严重得多，在人本性的根源中有一个叫作罪的可憎致命
的疾病。罪就是凭自我意志叛逆神的权威、违背神的律法。在人们明自他们真
实的处境及其毁灭性的后果并寻求神的医治之前，这个世界就会继续充满严重
的问题，不能解决。如果基督徒渴望在属灵的生活中有所长进，他们就必须认" />

<meta name="mobile-agent" content="format=html5;url=http://www.aishen360.com/m/book/zuizhixie.html">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta property="og:type" content="novel"/>
<meta property="og:title" content=""/>
<meta property="og:description" content="什么是引起痛苦、战争、仇恨和不公平的原因？大多数所谓的「专家」声称,人
的问 题是无知、贫困或缺乏知足。他们坚持认为,如果人们都受到教育，收入
有保障，知足常乐，那么世界上的问题就能得以解决。然而，历史已经证明，
受过高等教育、经济富裕的人们和国家往往具有巨大的道德和社会问题。圣经
教导，人的问题比这更严重得多，在人本性的根源中有一个叫作罪的可憎致命
的疾病。罪就是凭自我意志叛逆神的权威、违背神的律法。在人们明自他们真
实的处境及其毁灭性的后果并寻求神的医治之前，这个世界就会继续充满严重
的问题，不能解决。如果基督徒渴望在属灵的生活中有所长进，他们就必须认"/>
<meta property="og:image" content="http://www.aishen360.com/files/book/cover/955/cover.jpg"/>
<meta property="og:novel:category" content="世界名著"/>
<meta property="og:novel:author" content="伟宁"/>
<meta property="og:novel:book_name" content=""/>
<meta property="og:novel:read_url" content="http://www.aishen360.com/book/zuizhixie.html"/>
<meta property="og:url" content="http://www.aishen360.com/book/zuizhixie.html"/>
<meta property="og:novel:status" content=""/>
<meta property="og:novel:update_time" content="Mon Feb 10 14:21:03 CST 2020"/>
<meta property="og:novel:latest_chapter_name" content="结束语"/>
<meta property="og:novel:latest_chapter_url" content="http://www.aishen360.com/read/zuizhixie/38557.html"/>
<title>_Download_kindle+epub+mobi+azw3+pdf - 爱神阅读</title>
<link href="//cdn.book.moujishu.com/styles/yeti/css/bootstrap.my.css" rel="stylesheet" type="text/css" />

<link href="//cdn.book.moujishu.com/commons/bootstrap/my.share.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/site/19290.js?time=20200211"></script>
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/ads/ads_wangye.js?time=20200211"></script>
</head>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right" role="tablist">
      
      <li role="presentation" class="active"><a href="/book/zuizhixie.html">Read</a></li>
    </ul>
    <h3 class="text-muted">[Share and download]</h3>
  </div>
  <div class="jumbotron">
    
    <h2 style="margin-top: 10px;">罪之邪</h2>
    <div><img src="//cdn.book.moujishu.com/files/book/cover/955/cover.jpg" width="120"></div>
    <p style="color: #428bca;">1.click any icon to share</p>
    <script type="text/javascript">
        var addthis_share = {
            url: "http://www.aishen360.com/book/zuizhixie.html",
            title: "_伟宁",
            description: "什么是引起痛苦、战争、仇恨和不公平的原因？大多数所谓的「专家」声称,人
的问 题是无知、贫困或缺乏知足。他们坚持认为,如果人们都受到教育，收入
有保障，知足常乐，那么世界上的问题就能得以解决。然而，历史已经证明，
受过高等教育、经济富裕的人们和国家往往具有巨大的道德和社会问题。圣经
教导，人的问题比这更严重得多，在人本性的根源中有一个叫作罪的可憎致命
的疾病。罪就是凭自我意志叛逆神的权威、违背神的律法。在人们明自他们真
实的处境及其毁灭性的后果并寻求神的医治之前，这个世界就会继续充满严重
的问题，不能解决。如果基督徒渴望在属灵的生活中有所长进，他们就必须认",
            media: "http://www.aishen360.com/files/book/cover/955/cover.jpg"
        }
    </script>
    <div class="mt10"><script src="//cdn.book.moujishu.com/scripts/public/share_baidu.js" type="text/javascript"></script></div>
    
      <p style="color: #428bca;">2.download the book TXT text</p>
      <a target="_blank" href="http://down.aishen360.com/file/1210232-420318102" id="btn_download" data-loading-text="Loading..." onclick="updateDownloadCount()" class="btn btn-primary btn-success" > <span class="glyphicon glyphicon-download"></span> Download TXT </a>
      &nbsp;
        <a target="_blank" href="http://down.aishen360.com/file/1210232-420318214" id="btn_download_pdf" style="display: none" onclick="updateDownloadCount()" class="btn btn-primary btn-warning" > <span class="glyphicon glyphicon-download"></span> Download PDF </a>
      
    <div style="margin-top: 10px">
      <a target="_blank" href="/dashang.html" class="btn btn-primary btn-danger" > <span class="glyphicon glyphicon-heart"></span> 赞赏 </a>
    </div>
    <div class="alert alert-danger" id="ios_tip" role="alert" style="margin-top: 10px;display: none">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;Mobile browser may not be able to download, you can download it using PC browser, <a href="/client/index.html">you can also download our app.</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 10px;">
      If you have any questions, please contact : <a href="mailto:zaixiankefu365@gmail.com">zaixiankefu365@gmail.com</a>
    </div>
  </div>
  <script src="//cdn.book.moujishu.com/scripts/ads/cms.left.bottom.js" type="text/javascript"></script>
  <!-- 评论框 start -->
  <script type="text/javascript">
  	var link_id = "book955";
  </script> 
  <script type="text/javascript" src="//cdn.book.moujishu.com/scripts/index/comment.js"></script>
  <!-- 评论框 end -->
  <div class="footer">
    <p>&copy; 2019</p>
  </div>
</div>
<input type="hidden" name="book_id" id="book_id" value="955"/>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="//cdn.book.moujishu.com/commons/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
$("#veri_code").focus(function(){
	$("#veri_img").attr("src", "/images/downloadVeriCode.jpg?t=" + new Date().getTime()).show();
}).blur(function(){
	$("#veri_img").hide().attr("src", "/images/loading_login.gif");
});
$(document).ready(function(){
    var $btn_download = $("#btn_download");
    $btn_download.data("loading-text",'Please share first...');
    $btn_download.button("loading");
    setTimeout(function(){
      $btn_download.button("reset");
      $btn_download.data("loading-text",'Loading...');
      $("#btn_download_pdf").show();
    },4000);
    
    if(isIos()){
      $("#ios_tip").show();
    }
});

function isIos() {
  var a = navigator.userAgent.toLowerCase();
  return - 1 != a.indexOf("iphone") || -1 != a.indexOf("ipad") || -1 != a.indexOf("ipod") ? 1 : 0
}

function updateDownloadCount() {
  $.post("/CsAjax.do?method=updateBookDownloadCount", {"book_id" : $("#book_id").val()}, function(datas){});
}

//]]>
</script> 
<div style="display: none;">
<script type="text/javascript" src="//cdn.book.moujishu.com/scripts/public/analytics.js"></script>
</div>

</body>
</html>